<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title> Big Shot Capital Advisors: Your Business Partner</title>
  <meta content="Maximize your business potential with Big Shot Capital! Expert in SME IPOs, VC funding, and bespoke financial solutions. Grow and succeed with us." name="description">
  <meta content="SME IPO, VC Equity Funding, Working Capital Loans, Unsecured Business Loans, Project Financing, Private Finance Solutions, Hospital Funding, School Construction Finance, Builder Funding, Home Loans, Home Loan Balance Transfer, Loan Against Property, Virtual CFO Services, Mergers and Acquisitions Financing, Due Diligence, Corporate Valuation, Payroll Outsourcing, Human Resource Consulting, Business Growth Strategies, Financial Advisory Services" name="keywords">

  <!-- Favicons -->
  <link href="assets/bigshot/assets/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/bigshot/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/bigshot/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/bigshot/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/bigshot/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/bigshot/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/bigshot/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/bigshot/assets/css/style.css" rel="stylesheet">

  <link rel="canonical" href="https://bigshotcapital.com/">
  <meta name="google-site-verification" content="Yp_9nzqv22IEhySms45ZT_Dc73VMQkA8DnZ639s8BIY" />


</head>

<body>

 <!-- ======= Header ======= -->
 <section id="topbar" class="topbar d-flex align-items-center">
  <div class="container d-flex justify-content-center justify-content-md-between">
    <div class="contact-info d-flex align-items-center">
      <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:hello@Bigshotcapital.com">hello@Bigshotcapital.com</a></i>
      <i class="bi bi-phone d-flex align-items-center ms-4"><a href="tel:+91 99868 92788">+91 99868 92788</a></i>
    </div>
    <div class="social-links d-none d-md-flex align-items-center">
      <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
      <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
    </div>
  </div>
</section>
<!-- End Top Bar -->


{% block content %}


{% endblock %}
 

 <!-- ======= Footer ======= -->
 <footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-info">
          <a href="index.html" rel="canonical" class="logo me-auto"><img src="assets/bigshot/assets/img/BIG-SHOT-CAPITAL-white.png" alt="logo" class="img-fluid" style="height: 50px; " rel="canonical"></a>
          <br><br><p>Big Shot Capital, a leading financial solutions provider, specializes in home loans, project finance, SME IPOs, and diverse funding services. Our expert business consultants offer seamless solutions in payroll, HR, foreign investments, mergers, virtual CFO, corporate finance, and management consulting, ensuring holistic financial success for clients.</p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="index.html" rel="canonical">Home</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="about.html" rel="canonical">About us</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="payroll_outsource.html" rel="canonical">Outsource Payroll Processing </a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="hr-services-bangalore.html" rel="canonical">Human Resource Consulting</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="mergers-aquisition-bangalore.html" rel="canonical">Mergers & Acquisitions</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="cfo-services-bangalore.html" rel="canonical">Virtual CFO Service</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="privacy-policy.html" rel="canonical">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Business Funding</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="unsecured-corporate-funding.html" rel="canonical">Unsecured Loan</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="project-loan-Bangalore.html" rel="canonical">Project Finance</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="vc-funding-bangalore.html" rel="canonical">VC Equity Funding</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="sme-ipo-Bangalore.html" rel="canonical">SME IPO</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="private-debt-funding-bangalore.html" rel="canonical">Private Finance</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="working-capital.html" rel="canonical">Working Capital</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="homeloan.html" rel="canonical">Home Loans</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p><i class="bi bi-geo-alt"></i>
            <a href="https://maps.app.goo.gl/f5ELfgXRABtvj9b8A" target="_blank" rel="canonical">228, SAVIRAM, 1ST Cross, <br>
              39th Main Rd, KAS Officers Colony, <br>
              BTM 2nd Stage, Bengaluru - 560068</a>
<br><br>
            <i class="bi bi-telephone"></i>  <a href="tel:+91 99868 92788" target="_blank" rel="canonical">+91 99868 92788</a><br>
            <i class="bi bi-envelope"></i>   <a href="mailto:hello@Bigshotcapital.com" target="_blank" rel="canonical">hello@Bigshotcapital.com</a>
            <br>
          </p>

          <!-- <div class="social-links">
            <a href="#" class="twitter" target="_blank"><i class="bi bi-twitter-x"></i></a>
            <a href="#" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
          </div> -->

          <div class="social-links">
            <a href="#" class="linkedin" target="_blank" rel="canonical" ><img src="assets/bigshot/assets/img/linkedin-logo.svg" alt="Linkedin" style="height: 36px;"></a>
            <a href="#" class="facebook" target="_blank" rel="canonical"><img src="assets/bigshot/assets/img/fb-logo.svg" alt="Facebook" style="height: 36px;"></a>
            <a href="#" class="instagram" target="_blank" rel="canonical"><img src="assets/bigshot/assets/img/instagram-logo.svg" alt="Instagram" style="height: 36px;"></a>
            <a href="#" class="twitter" target="_blank" rel="canonical"><img src="assets/bigshot/assets/img/twitter-logo.svg" alt="Twitter" style="height: 36px;"></a>
          </div>

        </div>

        

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright 2024 | <strong>BIG SHOT CAPITAL ADVISORS PVT. LTD.</strong> All Rights Reserved
    </div>
    <div class="credits">
      Designed by <strong> <a href="https://360ithub.com/" target="_blank" style="color: #63d5ec;" rel="canonical">360 IT HUB PVT. LTD.</a></strong>
    </div>
  </div>
</footer><!-- End Footer -->

<!-- -----------------------Popup-form-------------- -->
<div class="modal fade" id="ModalForm" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="form-area bg-primary">
              <h1 class="text-center" style="font-size: 22px;">Book A Free Consultation Now</h1>
              <form>
                  <div class="mb-3 mt-4">
                    <label class="form-label">Your Name</label>
                    <input type="text" class="form-control" required>
                  </div>
                  <div class="mb-3 mt-4">
                    <label class="form-label">Your Mobile</label>
                    <input type="tel" class="form-control" required>
                  </div>
                  <div class="mb-3 mt-4">
                      <label class="form-label">Your Email</label>
                      <input type="email" class="form-control" required>
                  </div>
                  <div class="mb-3 mt-4">
                    <label class="form-label">Your Message</label>
                    <textarea class="form-control" rows="3" required></textarea>
                  </div>
                  <button type="submit" class="btn btn-light mt-3">Submit</button>
              </form>
          </div>
      </div>
    </div>
  </div>
</div>

  <a href="index.html" class="back-to-top d-flex align-items-center justify-content-center" rel="canonical"><i class="bi bi-arrow-up-short"></i></a>


  <!-- Vendor JS Files -->
  <script src="assets/bigshot/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/bigshot/assets/vendor/aos/aos.js"></script>
  <script src="assets/bigshot/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/bigshot/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/bigshot/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/bigshot/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/bigshot/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <!-- Template Main JS File -->
  <script src="assets/bigshot/assets/js/main.js"></script>


  <!-- =======================Schema================ -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org/", 
      "@type": "BreadcrumbList", 
      "itemListElement": [{
        "@type": "ListItem", 
        "position": 1, 
        "name": "Dynamic Capital Solutions",
        "item": "https://bigshotcapital.com/working-capital.html"  
      },{
        "@type": "ListItem", 
        "position": 2, 
        "name": "Empowering Homeownership Dreams",
        "item": "https://www.bigshotcapital.com/homeloan.html"  
      }]
    }
  </script>

</body>

</html>
