{% extends "templates/base.html" %}

  <!-- ======= hero Section ======= -->

  {% block content %}
<header id="header" class="header d-flex align-items-center">

  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <img src="assets/bigshot/assets/img/BIG SHOT CAPITAL.png" alt="logo">
    </a>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html" class="active">About</a></li>
        <li class="dropdown"><a href="sme-ipo-Bangalore.html"><span>Business Funding</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="sme-ipo-Bangalore.html">SME IPO</a></li>
            <li><a href="vc-funding-bangalore.html">VC Equity Funding</a></li>
            <li><a href="working-capital.html">Working Capital</a></li>
            <li><a href="unsecured-corporate-funding.html">Unsecured Loan</a></li>
            <li><a href="project-loan-Bangalore.html">Project Finance</a></li>
            <li class="dropdown"><a href="private-debt-funding-bangalore.html"><span>Private Finance</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="private-debt-funding-bangalore.html">Private Finance</a></li>
                <li><a href="school-builder-hospital-funding.html">Builder, School &<br> Hospital Funding</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="homeloan.html"><span>Home Loans & LAP</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="homeloan.html">Home Loans</a></li>
                <li><a href="balance-transfer-of-home-loan.html">Home Loan Balance Transfer</a></li>
                <li><a href="loan-against-property.html">Loan Against Property</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown"><a href="cfo-services-bangalore.html"><span>Business Services</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="cfo-services-bangalore.html">Virtual CFO Services</a></li>
            <li><a href="mergers-aquisition-bangalore.html">Mergers & Acquisitions</a></li>
            <li><a href="Due_Diligence_Valuation_Of_Corporate.html">Due Diligence & Valuation Of Corporate</a></li>
            <li><a href="payroll_outsource.html">Outsource Payroll Processing</a></li>
            <li><a href="hr-services-bangalore.html">Human Resource Consulting</a></li>
          </ul>
        </li>
        
        <li class="dropdown"><a href="blogs.html"><span>Resources</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="blogs.html">Blogs</a></li>
            <li><a href="events.html">Events</a></li>
            <!-- <li><a href="media-coverage.html">Media Coverage</a></li> -->
            <!-- <li><a href="annual-return.html">Annual Returns</a></li> -->
          </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="partner-with-us.html" class="become-partner-btn">Become Our Partner</a></li>
      </ul>
    </nav><!-- .navbar -->

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>
</header><!-- End Header -->


<main id="main">

  <!-- ======= hero Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row content">
        <div class="col-lg-6">
          <h2 style="color: #186474;">BSC: Empowering Success Through Expertise</h2>
          <h3>Navigating Business Frontiers with Comprehensive Financial and HR Solutions Excellence</h3>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            At BSC, we specialize in innovative financial solutions and strategic consulting. Our dedicated team ensures seamless payroll processing, HR consulting, and expert advice on foreign investments, project finance, mergers, acquisitions, and more. Experience excellence in corporate and financial services with BSC
          </p>
          <ul>
            <li><i class="bi bi-check-circle-fill"></i> Precision Payroll Processing for seamless financial management excellence</li>
            <li><i class="bi bi-check-circle-fill"></i> Strategic HR Consulting optimizing workforce potential and organizational efficiency</li>
            <li><i class="bi bi-check-circle-fill"></i> Comprehensive Loan Services: Home, Mortgage, and Business financing solutions</li>
          </ul>
          <p class="fst-italic">
            Choose BSC for integrated financial solutions, expertise, and success-driven consultancy excellence
          </p>
        </div>
      </div>

    </div>
  </section><!-- End hero Section -->

  <!-- ==========About Us============== -->
  <section id="about-us" class="about-us">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-around gy-4">
        <div class="col-lg-6 img-bg" style="background-image: url(assets/bigshot/assets/img/about-section.jpg);" data-aos="zoom-in" data-aos-delay="100"></div>

        <div class="col-lg-5 d-flex flex-column justify-content-center">
          <h3 style="color: #186474;">Empowering Dreams, Financing Futures, Excellence</h3>
          <p>BSC Big Shot Capital, your premier destination for home, mortgage, and business loans. Elevate your financial journey with expert solutions, personalized service, and unparalleled excellence.</p>

          <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-easel flex-shrink-0"></i>
            <div>
              <h4>Tailored Solutions:</h4>
              <p>Crafting personalized financial strategies for your unique goals and aspirations.</p>
            </div>
          </div><!-- End Icon Box -->

          <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-patch-check flex-shrink-0"></i>
            <div>
              <h4>Effortless Transactions</h4>
              <p>Seamless processes ensuring smooth and hassle-free loan experiences for our clients.</p>
            </div>
          </div><!-- End Icon Box -->

          <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-brightness-high flex-shrink-0"></i>
            <div>
              <h4><a href="" class="stretched-link">Expert Guidance</a></h4>
              <p>Trusted advisors providing industry-leading expertise for informed and confident financial decisions.</p>
            </div>
          </div><!-- End Icon Box -->

        </div>
      </div>

    </div>
  </section><!-- End Alt Services Section -->

  <!-- ==========About ceo============== -->
  <section id="about-ceo" class="about-ceo">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-around gy-4">

        <div class="col-lg-8 d-flex flex-column justify-content-center">
          <h3 style="color: #186474;" class="ceo-title">Meet Our CEO</h3>
          <p>Lokesh Sankhala, CEO and Founder of Big Shot Capital, is a distinguished finance expert with a top national rank in June 2013 and a CMA Convocation medal recipient in April 2014. With a decade of practical experience, Lokesh specializes in auditing and corporate tax consultation. As the driving force behind Big Shot Capital, he ensures simplicity and accessibility in financial solutions, offering diverse services like Payroll Processing, Human Resource Consulting, Foreign Investments, Project Finance, Mergers & Acquisitions, CFO Management, Corporate Finance, and Management Consulting. His leadership makes home, business, and mortgage loans easily accessible, embodying financial support for all.</p>
            <h4 class="ceo-name">-Lokesh Sankhala</h4>
        </div>
        <div class="col-lg-3 ceo-bg" style="background-image: url(assets/bigshot/assets/img/ceo-bg-i.jpg);" data-aos="zoom-in" data-aos-delay="100"></div>

      </div>

    </div>
  </section><!-- End ceo Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Happy Clients</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="bi bi-journal-richtext"></i>
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
            <p>Projects</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-headset"></i>
            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hours Of Support</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-people"></i>
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hard Workers</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->

  <!-- ======= Team Section ======= -->
  <!-- <section id="team" class="team">
    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h3><Span>Our</Span> TEAM</h3>
          </header>
      <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <div class="member-img">
              <img src="assets/bigshot/assets/img/teams/team-1.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Aarav</h4>
              <span>Senior Financial Analyst</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <div class="member-img">
              <img src="assets/bigshot/assets/img/teams/team-2.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Vishnu Nair</h4>
              <span>Payroll Specialist</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <div class="member-img">
              <img src="assets/bigshot/assets/img/teams/team-3.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Arjun Prasad</h4>
              <span>Project Finance Manager</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <div class="member-img">
              <img src="assets/bigshot/assets/img/teams/team-4.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Ananya</h4>
              <span>Corporate Finance Associate</span>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>End Team Section -->

  <div class="floating_btn" data-aos="fade-up">
    <a target="_blank" href="https://wa.link/bpxmiy">
      <div class="contact_icon">
        <i class="bi bi-whatsapp my-float"></i>
      </div>
    </a>
  </div> 

  </main><!-- End #main -->
  <a href="about.html" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  {% endblock %}
