{% extends "templates/web_base.html" %}

  <!-- ======= hero Section ======= -->

  {% block content %}
  <!-- ======= Start Header ======= -->
<header id="header" class="header d-flex align-items-center">

  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <img src="assets/bigshot/assets/img/BIG SHOT CAPITAL.png" alt="logo">
    </a>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li class="dropdown"><a href="sme-ipo-Bangalore.html" class="active"><span>Business Funding</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="sme-ipo-Bangalore.html">SME IPO</a></li>
            <li><a href="vc-funding-bangalore.html">VC Equity Funding</a></li>
            <li><a href="working-capital.html">Working Capital</a></li>
            <li><a href="unsecured-corporate-funding.html">Unsecured Loan</a></li>
            <li><a href="project-loan-Bangalore.html">Project Finance</a></li>
            <li class="dropdown"><a href="private-debt-funding-bangalore.html"><span>Private Finance</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="private-debt-funding-bangalore.html">Private Finance</a></li>
                <li><a href="school-builder-hospital-funding.html">Builder, School &<br> Hospital Funding</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="homeloan.html" class="active"><span>Home Loans & LAP</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="homeloan.html">Home Loans</a></li>
                <li><a href="balance-transfer-of-home-loan.html" class="active">Home Loan Balance Transfer</a></li>
                <li><a href="loan-against-property.html">Loan Against Property</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown"><a href="cfo-services-bangalore.html"><span>Business Services</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="cfo-services-bangalore.html">Virtual CFO Services</a></li>
            <li><a href="mergers-aquisition-bangalore.html">Mergers & Acquisitions</a></li>
            <li><a href="Due_Diligence_Valuation_Of_Corporate.html">Due Diligence & Valuation Of Corporate</a></li>
            <li><a href="payroll_outsource.html">Outsource Payroll Processing</a></li>
            <li><a href="hr-services-bangalore.html">Human Resource Consulting</a></li>
          </ul>
        </li>
        
        <li class="dropdown"><a href="blogs.html"><span>Resources</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="blogs.html">Blogs</a></li>
            <li><a href="events.html">Events</a></li>
            <!-- <li><a href="media-coverage.html">Media Coverage</a></li> -->
            <!-- <li><a href="annual-return.html">Annual Returns</a></li> -->
          </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="partner-with-us.html" class="become-partner-btn">Become Our Partner</a></li>
      </ul>
    </nav><!-- .navbar -->

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>
</header><!-- End Header -->


<main id="main">


  <!-- ======= Hero Section ======= -->
  <section id="balance-transfer-hero" class="hero-section-services d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>BSC Home Loan: <span>Switch, Save Big!</span></h1>
      <h3>Seamless Home Loan Balance Transfer</h3>
      <a href="#" class="btn-get-started scrollto" data-bs-toggle="modal" data-bs-target="#ModalForm">Apply Now</a>
    </div>
  </section><!-- End Hero -->


  <!-- ==========About loan============== -->

 <section id="about-loan" class="about-loan">
    <div class="container" data-aos="fade-up">

      <div class="row content">
        <div class="col-lg-6">
          <h2 style="color: #186474;">Optimize Your Home Loan: BSC's Expert Balance Transfer</h2>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <ul>
            <li><i class="bi bi-check-circle-fill"></i> Lower Interest Rates for Maximum Savings</li>
            <li><i class="bi bi-check-circle-fill"></i> Seamless Process for Hassle-Free Transfer</li>
            <li><i class="bi bi-check-circle-fill"></i> Flexible Repayment Options Tailored to Your Needs</li>
            <li><i class="bi bi-check-circle-fill"></i> Unlock Potential Savings with Competitive Loan Terms</li>
            <li><i class="bi bi-check-circle-fill"></i> Trust BSC for a Smooth Home Loan Transition</li>
          </ul>

        </div>
      </div>

    </div>
  </section><!-- about loan Section -->

   <!-- ======= Why us Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
        <header class="section-header">
            <h3><Span>Why Choose BSC for your</Span> Home Loans Balance Transfer</h3>
          </header>


      <div class="row">
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-graph-down-arrow"></i></div>
            <h4>Low Interest Rates</h4>
            <p>Choose Us for Low-Interest Home Loan Transfers</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4>Minimal Documentation</h4>
            <p>Opt for hassle-free home loan transfer with minimal documentation requirements</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-save2"></i></div>
            <h4>Cost Savings</h4>
            <p>Switch for Unmatched Home Loan Savings and Cost-Efficient Solutions</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-eye-slash"></i></div>
            <h4>No Hidden Charges</h4>
            <p>Opt Us for transparent home loan transfer with zero hidden charges</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- Why Us Section -->

   <!-- ======= Call To Action Section ======= -->
   <section id="call-to-action">
    <div class="container text-center" data-aos="zoom-in">
      <h3>Check your customised Loan Eligibility now</h3>
      <a class="cta-btn" data-bs-toggle="modal" data-bs-target="#ModalForm">Check Now</a>
    </div>
  </section><!-- End Call To Action Section -->


      <!-- ======= Frequently Asked Questions Section ======= -->
 <section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">
        <header class="section-header">
            <h3><Span>FAQ's on</Span> Home Loan Balace Transfer</h3>
        </header>
  
      <div class="row justify-content-center">
        <div class="col-xl-10">
          <ul class="faq-list">
  
            <li>
              <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">What is the BSC Home Loan Balance Transfer advantage?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                <p>
                    At BSc, our Home Loan Balance Transfer service ensures you enjoy lower interest rates, reduced EMIs, and potential savings. Discover the benefits of switching to BSC for a financially smarter choice.                </p>
              </div>
            </li>
  
            <li>
              <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">How can I initiate the Home Loan Balance Transfer process with BSC?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                <p>
                    Initiating a balance transfer is simple with BSC. Start by reaching out to our dedicated team, who will guide you through the seamless process. We prioritize a hassle-free experience for our customers.
                </p>
              </div>
            </li>
  
            <li>
              <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">What makes BSC the ideal choice for Home Loan Balance Transfer?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                <p>
                    BSC stands out by offering competitive interest rates, transparent policies, and customer-centric services. Explore how choosing BSC for your Home Loan Balance Transfer can lead to long-term financial benefits.
                </p>
              </div>
            </li>
  
            <li>
              <div data-bs-toggle="collapse" href="#faq4" class="collapsed question"> Are there any additional charges involved in the balance transfer?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                <p>
                    BSC values transparency. While there may be nominal charges associated with the balance transfer, our team ensures clarity about any fees involved. We believe in fair practices and aim to provide you with a cost-effective solution.
                </p>
              </div>
            </li>
  
            <li>
              <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">How long does it take for the Home Loan Balance Transfer process at BSC?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                <p>
                    Time efficiency is a priority at BSc. Our streamlined processes aim to complete your Home Loan Balance Transfer swiftly. Experience a quick and smooth transition to BSc, ensuring you start enjoying the benefits without unnecessary delays.
                </p>
              </div>
            </li>
  
          </ul>
        </div>
      </div>
  
    </div>
  </section><!-- End Frequently Asked Questions Section -->


       

  </main><!-- End #main -->

<div class="floating_btn">
  <a target="_blank" href="https://wa.link/bpxmiy">
    <div class="contact_icon">
      <i class="bi bi-whatsapp my-float"></i>
    </div>
  </a>
</div>
<a href="balance-transfer-of-home-loan.html" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


{% endblock %}
