{% extends "templates/base.html" %}

  <!-- ======= hero Section ======= -->

  {% block content %}
  <!-- ======= Start Header ======= -->
    <header id="header" class="header d-flex align-items-center">
    
      <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
          <img src="assets/bigshot/assets/img/BIG SHOT CAPITAL.png" alt="logo">
        </a>
        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li class="dropdown"><a href="sme-ipo-Bangalore.html"><span>Business Funding</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="sme-ipo-Bangalore.html">SME IPO</a></li>
                <li><a href="vc-funding-bangalore.html">VC Equity Funding</a></li>
                <li><a href="working-capital.html">Working Capital</a></li>
                <li><a href="unsecured-corporate-funding.html">Unsecured Loan</a></li>
                <li><a href="project-loan-Bangalore.html">Project Finance</a></li>
                <li class="dropdown"><a href="private-debt-funding-bangalore.html"><span>Private Finance</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                  <ul>
                    <li><a href="private-debt-funding-bangalore.html">Private Finance</a></li>
                    <li><a href="school-builder-hospital-funding.html">Builder, School &<br> Hospital Funding</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="homeloan.html"><span>Home Loans & LAP</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                  <ul>
                    <li><a href="homeloan.html">Home Loans</a></li>
                    <li><a href="balance-transfer-of-home-loan.html">Home Loan Balance Transfer</a></li>
                    <li><a href="loan-against-property.html">Loan Against Property</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="dropdown"><a href="cfo-services-bangalore.html"><span>Business Services</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="cfo-services-bangalore.html">Virtual CFO Services</a></li>
                <li><a href="mergers-aquisition-bangalore.html">Mergers & Acquisitions</a></li>
                <li><a href="Due_Diligence_Valuation_Of_Corporate.html">Due Diligence & Valuation Of Corporate</a></li>
                <li><a href="payroll_outsource.html">Outsource Payroll Processing</a></li>
                <li><a href="hr-services-bangalore.html">Human Resource Consulting</a></li>
              </ul>
            </li>
            
            <li class="dropdown"><a href="blogs.html"><span>Resources</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="blogs.html">Blogs</a></li>
                <li><a href="events.html">Events</a></li>
                <!-- <li><a href="media-coverage.html">Media Coverage</a></li> -->
                <!-- <li><a href="annual-return.html">Annual Returns</a></li> -->
              </ul>
            </li>
            <li><a href="contact.html" class="active">Contact</a></li>
            <li><a href="partner-with-us.html" class="become-partner-btn">Become Our Partner</a></li>
          </ul>
        </nav><!-- .navbar -->
    
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    
      </div>
    </header><!-- End Header -->
   <main id="main">

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
  
 
          <div class="row">
  
            <div class="col-lg-5 d-flex align-items-stretch">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p> 228, SAVIRAM, 1ST CROSS, 39th Main Rd, KAS Officers Colony, BTM 2nd Stage, Bengaluru, Karnataka 560068finfo</p>
                </div>
  
                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>hello@Bigshotcapital.com</p>
                </div>
  
                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>+91 99868 92788</p>
                </div>

                <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d243.0547336346714!2d77.62139565201416!3d12.915707209089417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1705905203367!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
  
                <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15555.505729928622!2d77.621292!3d12.9156626!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae15e76e62354d%3A0x28bc870ecf5535b6!2s360%20IT%20HUB%20PRIVATE%20LIMITED!5e0!3m2!1sen!2sin!4v1705494536101!5m2!1sen!2sin"  frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe> -->
            </div>
  
            </div>
  
            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="name">Your Name</label>
                    <input type="text" name="name" class="form-control" id="name" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="name">Your Mobile</label>
                    <input type="tel" class="form-control" name="mobile" id="mobile" required>
                  </div>
                </div>
                <div class="form-group">
                    <label for="name">Your Email</label>
                    <input type="email" class="form-control" name="email" id="email" required>
                  </div>
                
                <div class="form-group">
                  <label for="name">Subject</label>
                  <input type="text" class="form-control" name="subject" id="subject" required>
                </div>
                <div class="form-group">
                  <label for="name">Message</label>
                  <textarea class="form-control" name="message" rows="6" required></textarea>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Contact Section -->

  </main><!-- End #main -->


  <div class="floating_btn">
    <a target="_blank" href="https://wa.link/bpxmiy">
      <div class="contact_icon">
        <i class="bi bi-whatsapp my-float"></i>
      </div>
    </a>
</div>
<a href="contact.html" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
{% endblock %}
