{% extends "templates/web_base.html" %}

  <!-- ======= hero Section ======= -->

  {% block content %}
  <!-- ======= Start Header ======= -->
    <header id="header" class="header d-flex align-items-center">
    
      <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
          <img src="assets/bigshot/assets/img/BIG SHOT CAPITAL.png" alt="logo">
        </a>
        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li class="dropdown"><a href="sme-ipo-Bangalore.html"><span>Business Funding</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="sme-ipo-Bangalore.html">SME IPO</a></li>
                <li><a href="vc-funding-bangalore.html">VC Equity Funding</a></li>
                <li><a href="working-capital.html">Working Capital</a></li>
                <li><a href="unsecured-corporate-funding.html">Unsecured Loan</a></li>
                <li><a href="project-loan-Bangalore.html">Project Finance</a></li>
                <li class="dropdown"><a href="private-debt-funding-bangalore.html"><span>Private Finance</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                  <ul>
                    <li><a href="private-debt-funding-bangalore.html">Private Finance</a></li>
                    <li><a href="school-builder-hospital-funding.html">Builder, School &<br> Hospital Funding</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="homeloan.html"><span>Home Loans & LAP</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                  <ul>
                    <li><a href="homeloan.html">Home Loans</a></li>
                    <li><a href="balance-transfer-of-home-loan.html">Home Loan Balance Transfer</a></li>
                    <li><a href="loan-against-property.html">Loan Against Property</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="dropdown"><a href="cfo-services-bangalore.html"><span>Business Services</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="cfo-services-bangalore.html">Virtual CFO Services</a></li>
                <li><a href="mergers-aquisition-bangalore.html">Mergers & Acquisitions</a></li>
                <li><a href="Due_Diligence_Valuation_Of_Corporate.html">Due Diligence & Valuation Of Corporate</a></li>
                <li><a href="payroll_outsource.html">Outsource Payroll Processing</a></li>
                <li><a href="hr-services-bangalore.html">Human Resource Consulting</a></li>
                <li><a href="virtual-chro.html" >Virtual CHRO</a></li>
                <li><a href="business-funding-documentation.html" >Business Funding Documentation</a></li>
                <li><a href="project-report.html">Project Report & CMA Data</a></li>
              </ul>
            </li>
            
            <li class="dropdown"><a href="blogs.html" class="active"><span>Resources</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="blogs.html">Blogs</a></li>
                <li><a href="events.html" class="active">Events</a></li>
                <!-- <li><a href="media-coverage.html">Media Coverage</a></li> -->
                <!-- <li><a href="annual-return.html">Annual Returns</a></li> -->
              </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="partner-with-us.html" class="become-partner-btn">Become Our Partner</a></li>
          </ul>
        </nav><!-- .navbar -->
    
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    
      </div>
    </header><!-- End Header -->

<main>
<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Events</h2>
            <p>Independence Day, 2023</p>
        </div>

      <div class="row g-0" data-aos="fade-left">

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item" data-aos="zoom-in" data-aos-delay="100">
            <a href="assets/bigshot/assets/img/gallery/Independence-Day-1.jpg" class="gallery-lightbox">
              <img src="assets/bigshot/assets/img/gallery/Independence-Day-1.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item" data-aos="zoom-in" data-aos-delay="150">
            <a href="assets/bigshot/assets/img/gallery/Independence-Day-2.jpg" class="gallery-lightbox">
              <img src="assets/bigshot/assets/img/gallery/Independence-Day-2.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item" data-aos="zoom-in" data-aos-delay="200">
            <a href="assets/bigshot/assets/img/gallery/Independence-Day-7.jpg" class="gallery-lightbox">
              <img src="assets/bigshot/assets/img/gallery/Independence-Day-7.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item" data-aos="zoom-in" data-aos-delay="250">
            <a href="assets/bigshot/assets/img/gallery/Independence-Day-8.jpg" class="gallery-lightbox">
              <img src="assets/bigshot/assets/img/gallery/Independence-Day-8.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item" data-aos="zoom-in" data-aos-delay="300">
            <a href="assets/bigshot/assets/img/gallery/Independence-Day-3.jpg" class="gallery-lightbox">
              <img src="assets/bigshot/assets/img/gallery/Independence-Day-3.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item" data-aos="zoom-in" data-aos-delay="350">
            <a href="assets/bigshot/assets/img/gallery/Independence-Day-4.jpg" class="gallery-lightbox">
              <img src="assets/bigshot/assets/img/gallery/Independence-Day-4.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item" data-aos="zoom-in" data-aos-delay="400">
            <a href="assets/bigshot/assets/img/gallery/Independence-Day-5.jpg" class="gallery-lightbox">
              <img src="assets/bigshot/assets/img/gallery/Independence-Day-5.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item" data-aos="zoom-in" data-aos-delay="450">
            <a href="assets/bigshot/assets/img/gallery/Independence-Day-6.jpg" class="gallery-lightbox">
              <img src="assets/bigshot/assets/img/gallery/Independence-Day-6.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

      </div>

    </div>

    
  </section><!-- End Gallery Section -->

  <!-- ------------------------------Section2------------- -->
  <section id="gallery" class="gallery">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Events</h2>
            <p>Republic Day , 2024</p>
        </div>

      <div class="row g-0" data-aos="fade-left">

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item" data-aos="zoom-in" data-aos-delay="100">
            <a href="assets/bigshot/assets/img/gallery/Republic-Day-1.jpg" class="gallery-lightbox">
              <img src="assets/bigshot/assets/img/gallery/Republic-Day-1.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item" data-aos="zoom-in" data-aos-delay="150">
            <a href="assets/bigshot/assets/img/gallery/Republic-Day-2.jpg" class="gallery-lightbox">
              <img src="assets/bigshot/assets/img/gallery/Republic-Day-2.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item" data-aos="zoom-in" data-aos-delay="200">
            <a href="assets/bigshot/assets/img/gallery/Republic-Day-3.jpg" class="gallery-lightbox">
              <img src="assets/bigshot/assets/img/gallery/Republic-Day-3.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item" data-aos="zoom-in" data-aos-delay="250">
            <a href="assets/bigshot/assets/img/gallery/Republic-Day-4.jpg" class="gallery-lightbox">
              <img src="assets/bigshot/assets/img/gallery/Republic-Day-4.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item" data-aos="zoom-in" data-aos-delay="300">
            <a href="assets/bigshot/assets/img/gallery/Republic-Day-5.jpg" class="gallery-lightbox">
              <img src="assets/bigshot/assets/img/gallery/Republic-Day-5.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item" data-aos="zoom-in" data-aos-delay="350">
            <a href="assets/bigshot/assets/img/gallery/Republic-Day-6.jpg" class="gallery-lightbox">
              <img src="assets/bigshot/assets/img/gallery/Republic-Day-6.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

      </div>

    </div> 

    
  </section>
  <!-- End Gallery Section -->

  

  </main><!-- End #main -->

 

  <a href="index.html" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


  {% endblock %}
