{% extends "templates/web_base.html" %}

  <!-- ======= hero Section ======= -->

  {% block content %}
  <!-- ======= Start Header ======= -->
<header id="header" class="header d-flex align-items-center">

  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <img src="assets/bigshot/assets/img/BIG SHOT CAPITAL.png" alt="logo">
    </a>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li class="dropdown"><a href="sme-ipo-Bangalore.html" class="active"><span>Business Funding</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="sme-ipo-Bangalore.html">SME IPO</a></li>
            <li><a href="vc-funding-bangalore.html">VC Equity Funding</a></li>
            <li><a href="working-capital.html">Working Capital</a></li>
            <li><a href="unsecured-corporate-funding.html">Unsecured Loan</a></li>
            <li><a href="project-loan-Bangalore.html">Project Finance</a></li>
            <li class="dropdown"><a href="private-debt-funding-bangalore.html"><span>Private Finance</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="private-debt-funding-bangalore.html">Private Finance</a></li>
                <li><a href="school-builder-hospital-funding.html">Builder, School &<br> Hospital Funding</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="homeloan.html" class="active"><span>Home Loans & LAP</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="homeloan.html" class="active">Home Loans</a></li>
                <li><a href="balance-transfer-of-home-loan.html">Home Loan Balance Transfer</a></li>
                <li><a href="loan-against-property.html">Loan Against Property</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown"><a href="cfo-services-bangalore.html"><span>Business Services</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="cfo-services-bangalore.html">Virtual CFO Services</a></li>
            <li><a href="mergers-aquisition-bangalore.html">Mergers & Acquisitions</a></li>
            <li><a href="Due_Diligence_Valuation_Of_Corporate.html">Due Diligence & Valuation Of Corporate</a></li>
            <li><a href="payroll_outsource.html">Outsource Payroll Processing</a></li>
            <li><a href="hr-services-bangalore.html">Human Resource Consulting</a></li>
            <li><a href="virtual-chro.html" >Virtual CHRO</a></li>
            <li><a href="business-funding-documentation.html" >Business Funding Documentation</a></li>
            <li><a href="project-report.html">Project Report & CMA Data</a></li>
          </ul>
        </li>
        
        <li class="dropdown"><a href="blogs.html"><span>Resources</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="blogs.html">Blogs</a></li>
            <li><a href="events.html">Events</a></li>
            <!-- <li><a href="media-coverage.html">Media Coverage</a></li> -->
            <!-- <li><a href="annual-return.html">Annual Returns</a></li> -->
          </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="partner-with-us.html" class="become-partner-btn">Become Our Partner</a></li>
      </ul>
    </nav><!-- .navbar -->

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>
</header><!-- End Header -->

<main id="main">


  <!-- ======= Hero Section ======= -->
  <section id="service-hero" class="hero-section-services d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Unlock Your <span>Dream Home</span></h1>
      <h3>Seamless Home Financing Solutions Await You</h3>
      <a href="#" class="btn-get-started scrollto" data-bs-toggle="modal" data-bs-target="#ModalForm">Apply Now</a>
    </div>
  </section><!-- End Hero -->

  <!-- ==========About loan============== -->

 <section id="about-loan" class="about-loan">
    <div class="container" data-aos="fade-up">

      <div class="row content">
        <div class="col-lg-6">
          <h2 style="color: #186474;">Optimal Home Financing Solutions Await</h2>
          <h3>Empowering Dreams: Your Perfect Home Awaits with our Exceptional Loan Solutions</h3>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <ul>
            <li><i class="bi bi-check-circle-fill"></i> Competitive rates for affordable home financing options</li>
            <li><i class="bi bi-check-circle-fill"></i> Flexible repayment plans tailored to your needs</li>
            <li><i class="bi bi-check-circle-fill"></i> Comprehensive support throughout the entire loan journey process</li>
            <li><i class="bi bi-check-circle-fill"></i> Quick approval for faster home ownership dreams realization</li>
            <li><i class="bi bi-check-circle-fill"></i> Innovative solutions for first-time homebuyers' unique needs</li>
          </ul>

        </div>
      </div>

    </div>
  </section><!-- about loan Section -->

   <!-- ======= Why us Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
        <header class="section-header">
            <h3><Span>Why Choose BSC for your</Span> Home Loans</h3>
          </header>


      <div class="row">
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-hourglass-split"></i></div>
            <h4>Quick Approvals</h4>
            <p>Swift Home Loan Approval: Opt for BSC's Expedited Process Today!</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4>Minimal Documentation</h4>
            <p>Minimal Documentation: Streamlined BSC Home Loan Process Ensures Efficiency</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-check-circle"></i></div>
            <h4>Extended Loan Tenure</h4>
            <p>Unlock dream home with extended loan tenure, streamlined application process</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-file-earmark-excel"></i></div>
            <h4>No Prepayment Charges</h4>
            <p>Home loans: No prepayment fees, seamless process for optimal flexibility</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- Why Us Section -->

   <!-- ======= Call To Action Section ======= -->
   <section id="call-to-action">
    <div class="container text-center" data-aos="zoom-in">
      <h3>Check your customised Loan Eligibility now</h3>
      <a class="cta-btn" data-bs-toggle="modal" data-bs-target="#ModalForm">Check Now</a>
    </div>
  </section><!-- End Call To Action Section -->



    <!-- ======= Frequently Asked Questions Section ======= -->
 <section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">
        <header class="section-header">
            <h3><Span>FAQ's on</Span> Home Loans</h3>
        </header>
  
      <div class="row justify-content-center">
        <div class="col-xl-10">
          <ul class="faq-list">
  
            <li>
              <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">What sets BSC apart in the home loan market?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                <p>
                    At BSC, we stand out by offering personalized solutions tailored to your unique needs. Our commitment to customer satisfaction, competitive interest rates, and flexible repayment options make us a preferred choice for home financing.                </p>
              </div>
            </li>
  
            <li>
              <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">How does BSC ensure a smooth and efficient home loan application process?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                <p>
                    We prioritize a seamless experience for our customers. BSC employs cutting-edge technology to simplify the application process, reducing paperwork and processing time. Our dedicated team is always ready to assist you at every step, ensuring a hassle-free journey from application to approval.                </p>
              </div>
            </li>
  
            <li>
              <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">What types of home loan products does BSC offer?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                <p>
                    BSC provides a diverse range of home loan products to suit various needs. Whether you're a first-time homebuyer, looking to refinance, or considering an investment property, our portfolio includes fixed-rate and adjustable-rate mortgages. Explore our offerings to find the perfect fit for your financial goals.                </p>
              </div>
            </li>
  
            <li>
              <div data-bs-toggle="collapse" href="#faq4" class="collapsed question"> How does BSC support customers in financial planning for home ownership?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                <p>
                    BSC is not just a lender; we are your financial partner on the path to homeownership. Our team of experts is dedicated to helping you navigate the complexities of real estate finance. We offer guidance on budgeting, understanding mortgage terms, and making informed decisions to secure a home loan that aligns with your long-term financial objectives.                </p>
              </div>
            </li>
  
            <li>
              <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">What makes BSC a trustworthy choice for home financing?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                <p>
                    Trust is the foundation of our relationship with customers. BSC is known for its transparency, ethical business practices, and a commitment to responsible lending. Our reputation is built on delivering on promises, maintaining clear communication, and ensuring that your home loan experience with us is not only successful but also fosters a sense of trust and reliability.                </p>
              </div>
            </li>
  
          </ul>
        </div>
      </div>
  
    </div>
  </section><!-- End Frequently Asked Questions Section -->


       

  </main><!-- End #main -->

<div class="floating_btn">
  <a target="_blank" href="https://wa.link/bpxmiy">
    <div class="contact_icon">
      <i class="bi bi-whatsapp my-float"></i>
    </div>
  </a>
</div>
<a href="homeloan.html" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


{% endblock %}
