{% extends "templates/web_base.html" %}

  <!-- ======= hero Section ======= -->

  {% block content %}
  <!-- ======= Start Header ======= -->

<header id="header" class="header d-flex align-items-center">

  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <img src="assets/bigshot/assets/img/BIG SHOT CAPITAL.png" alt="logo">
    </a>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li class="dropdown"><a href="payroll_outsource.html"><span>Business Services</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="payroll_outsource.html">Outsource Payroll Processing</a></li>
            <li><a href="hr-services-bangalore.html">Human Resource Consulting</a></li>
            <li><a href="mergers-aquisition-bangalore.html">Mergers & Acquisitions</a></li>
            <li><a href="Due_Diligence_Valuation_Of_Corporate.html">Due Diligence & Valuation Of Corporate</a></li>
            <li><a href="cfo-services-bangalore.html">Virtual CFO Services</a></li>
            <li><a href="virtual-chro.html" >Virtual CHRO</a></li>
            <li><a href="business-funding-documentation.html" >Business Funding Documentation</a></li>
            <li><a href="project-report.html">Project Report & CMA Data</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="unsecured-corporate-funding.html" class="active"><span>Business Funding</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="unsecured-corporate-funding.html">Unsecured Loan</a></li>
            <li><a href="project-loan-Bangalore.html">Project Finance</a></li>
            <li><a href="vc-funding-bangalore.html">VC Equity Funding</a></li>
            <li><a href="sme-ipo-Bangalore.html">SME IPO</a></li>
            <li class="dropdown"><a href="private-debt-funding-bangalore.html"><span>Private Finance</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="private-debt-funding-bangalore.html">Private Finance</a></li>
                <li><a href="school-builder-hospital-funding.html">Builder, School &<br> Hospital Funding</a></li>
              </ul>
            </li>
            <li><a href="working-capital.html">Working Capital</a></li>
            <li class="dropdown"><a href="homeloan.html" class="active"><span>Home Loans & LAP</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="homeloan.html">Home Loans</a></li>
                <li><a href="balance-transfer-of-home-loan.html">Home Loan Balance Transfer</a></li>
                <li><a href="mortgage-loans.html" class="active">Mortgage Loans</a></li>
                <li><a href="loan-against-property.html">Loan Against Property</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown"><a href="blogs.html"><span>Resources</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="blogs.html">Blogs</a></li>
            <li><a href="events.html">Events</a></li>
            <li><a href="media-coverage.html">Media Coverage</a></li>
            <li><a href="annual-return.html">Annual Returns</a></li>
          </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="partner-with-us.html" class="become-partner-btn">Become Our Partner</a></li>
      </ul>
    </nav><!-- .navbar -->

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>
</header><!-- End Header -->

<main id="main">


  <!-- ======= Hero Section ======= -->

  <section id="mortgage-hero" class="hero-section-services d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Unlock Your <span>Dream Home</span></h1>
      <h3>Seamless Home Financing Solutions Await You</h3>
      <a href="#" class="btn-get-started scrollto" data-bs-toggle="modal" data-bs-target="#ModalForm">Apply Now</a>
    </div>
  </section><!-- End Hero -->


  <!-- ==========About loan============== -->

 <section id="about-loan" class="about-loan">
    <div class="container" data-aos="fade-up">

      <div class="row content">
        <div class="col-lg-6">
          <h2 style="color: #186474;">Unlock Your Dream Home: Seamless BSC Mortgage Solutions</h2>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <ul>
            <li><i class="bi bi-check-circle-fill"></i> Low-Rate Options for Affordable Home Financing</li>
            <li><i class="bi bi-check-circle-fill"></i> Flexible Terms Tailored to Your Financial Goals</li>
            <li><i class="bi bi-check-circle-fill"></i> Streamlined Approval Process for Quick Homeownership</li>
            <li><i class="bi bi-check-circle-fill"></i> Expert Guidance on Mortgage Planning and Decision Making</li>
            <li><i class="bi bi-check-circle-fill"></i> Transparent Fees with No Hidden Costs for Clarity</li>
          </ul>

        </div>
      </div>

    </div>
  </section><!-- about loan Section -->

   <!-- ======= Why us Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
        <header class="section-header">
            <h3><Span>Why Choose BSC for your</Span> Mortgage Loans</h3>
          </header>


      <div class="row">
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-hourglass-split"></i></div>
            <h4>Competitive Rates</h4>
            <p>Save on Interest for a More Affordable Mortgage</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-person-check"></i></div>
            <h4>Personalized Service</h4>
            <p> Tailored Solutions for Your Unique Financial Needs</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-link-45deg"></i></div>
            <h4>Efficient Process</h4>
            <p>Quick Approvals and Smooth Transactions for Homeownership</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-stars"></i></div>
            <h4>Expert Guidance</h4>
            <p>Trust Our Professionals for Informed Mortgage Decision-Making</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- Why Us Section -->

   <!-- ======= Call To Action Section ======= -->
   <section id="call-to-action">
    <div class="container text-center" data-aos="zoom-in">
      <h3>Check your customised Loan Eligibility now</h3>
      <a class="cta-btn" data-bs-toggle="modal" data-bs-target="#ModalForm">Check Now</a>
    </div>
  </section><!-- End Call To Action Section -->


  
    <!-- ======= Frequently Asked Questions Section ======= -->
 <section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">
        <header class="section-header">
            <h3><Span>FAQ's on</Span> Mortgage Loans</h3>
        </header>
  
      <div class="row justify-content-center">
        <div class="col-xl-10">
          <ul class="faq-list">
  
            <li>
              <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">What sets BSC apart from other mortgage lenders?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                <p>
                  At BSC, we differentiate ourselves through our commitment to personalized service, competitive rates, and a streamlined mortgage process. Our experienced team works closely with clients to tailor solutions that meet their unique needs, ensuring a smooth and transparent experience from application to closing.
                </p>
              </div>
            </li>
  
            <li>
              <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">How does BSC ensure the security and privacy of customer information during the loan application process?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Protecting our clients' sensitive information is a top priority at BSC. We employ robust encryption protocols, secure data storage practices, and stringent privacy measures to safeguard customer data. Our technology infrastructure is designed to meet and exceed industry standards, providing a secure environment for all transactions.
                </p>
              </div>
            </li>
  
            <li>
              <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">What types of mortgage products does BSC offer, and how can customers find the best option for their needs?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  BSC provides a diverse range of mortgage products, including fixed-rate mortgages, adjustable-rate mortgages (ARMs), and other specialized loan programs. Our team of mortgage experts is available to guide customers through the options, helping them identify the loan that aligns with their financial goals. We prioritize transparency, ensuring clients fully understand the terms and conditions of their chosen mortgage.                </p>
              </div>
            </li>
  
            <li>
              <div data-bs-toggle="collapse" href="#faq4" class="collapsed question"> How quickly can applicants expect to receive a decision on their mortgage application with BSC?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  BSC is dedicated to delivering prompt decisions on mortgage applications. Our streamlined application process, coupled with advanced technology, allows us to provide initial decisions within a short timeframe. Additionally, our team is readily available to assist applicants throughout the process, offering support and clarification whenever needed.                </p>
              </div>
            </li>
  
            <li>
              <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Does BSC offer any assistance programs for first-time homebuyers or individuals with unique financial circumstances?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
              <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Absolutely. BSC is committed to making homeownership accessible. We offer a range of assistance programs, including options for first-time homebuyers and individuals facing unique financial challenges. Our goal is to work collaboratively with clients to find suitable solutions, providing guidance and support to help them achieve their dream of homeownership.                </p>
              </div>
            </li>
  
          </ul>
        </div>
      </div>
  
    </div>
  </section><!-- End Frequently Asked Questions Section -->


       

  </main><!-- End #main -->


<div class="floating_btn">
  <a target="_blank" href="https://wa.link/bpxmiy">
    <div class="contact_icon">
      <i class="bi bi-whatsapp my-float"></i>
    </div>
  </a>
</div>
<a href="mortgage-loans.html" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
{% endblock %}
