{% extends "templates/web_base.html" %}

  <!-- ======= hero Section ======= -->

  {% block content %}
  <!-- ======= Start Header ======= -->

<header id="header" class="header d-flex align-items-center">

  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <img src="assets/bigshot/assets/img/BIG SHOT CAPITAL.png" alt="logo">
    </a>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li class="dropdown"><a href="sme-ipo-Bangalore.html"><span>Business Funding</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="sme-ipo-Bangalore.html">SME IPO</a></li>
            <li><a href="vc-funding-bangalore.html">VC Equity Funding</a></li>
            <li><a href="working-capital.html">Working Capital</a></li>
            <li><a href="unsecured-corporate-funding.html">Unsecured Loan</a></li>
            <li><a href="project-loan-Bangalore.html">Project Finance</a></li>
            <li class="dropdown"><a href="private-debt-funding-bangalore.html"><span>Private Finance</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="private-debt-funding-bangalore.html">Private Finance</a></li>
                <li><a href="school-builder-hospital-funding.html">Builder, School &<br> Hospital Funding</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="homeloan.html"><span>Home Loans & LAP</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="homeloan.html">Home Loans</a></li>
                <li><a href="balance-transfer-of-home-loan.html">Home Loan Balance Transfer</a></li>
                <li><a href="loan-against-property.html">Loan Against Property</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown"><a href="cfo-services-bangalore.html" class="active"><span>Business Services</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="cfo-services-bangalore.html">Virtual CFO Services</a></li>
            <li><a href="mergers-aquisition-bangalore.html">Mergers & Acquisitions</a></li>
            <li><a href="Due_Diligence_Valuation_Of_Corporate.html">Due Diligence & Valuation Of Corporate</a></li>
            <li><a href="payroll_outsource.html" class="active">Outsource Payroll Processing</a></li>
            <li><a href="hr-services-bangalore.html">Human Resource Consulting</a></li>
            <li><a href="virtual-chro.html" >Virtual CHRO</a></li>
            <li><a href="business-funding-documentation.html" >Business Funding Documentation</a></li>
            <li><a href="project-report.html">Project Report & CMA Data</a></li>
          </ul>
        </li>
        
        <li class="dropdown"><a href="blogs.html"><span>Resources</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="blogs.html">Blogs</a></li>
            <li><a href="events.html">Events</a></li>
            <!-- <li><a href="media-coverage.html">Media Coverage</a></li> -->
            <!-- <li><a href="annual-return.html">Annual Returns</a></li> -->
          </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="partner-with-us.html" class="become-partner-btn">Become Our Partner</a></li>
      </ul>
    </nav><!-- .navbar -->

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>
</header><!-- End Header -->

  <!-- ======= hero Section ======= -->
      <section id="payroll-service-hero" class="hero-section-services d-flex flex-column justify-content-center align-items-center">
        <div class="container text-center text-md-left" data-aos="fade-up">
          <h1>Effortless Payroll Solutions: <span> <br>Your Business, Our Expertise</span></h1>
          <h3>Need seamless payroll? Get A Free Consultation Now</h3>
          <a href="#" class="btn-get-started scrollto" data-bs-toggle="modal" data-bs-target="#ModalForm">Book A Free Consultation Now</a>
        </div>
      </section><!-- End Hero -->

  <!-- <div class="banner-image py-5"  data-aos="fade-up">
    <div class="container py-5">
      <div class="row py-5 align-items-center">
        <div class="col-lg-6">
          <h5 class="display-4 mb-4 font-weight-bold text-center text-lg-left">Effortless Payroll Excellence, BSC Unleashes Business Success!</h5> 
            <p class="lead mb-5 text-black-50 text-center text-lg-left">Struggling with Payroll? BSC's Outsourced Payroll Processing ensures accuracy, compliance, and efficiency. Let us handle your payroll complexities seamlessly.</p> 
            <div class="d-flex justify-content-center justify-content-lg-start mb-4">
          <a href="" class="btn btn-lg btn-danger mr-2"> Know More</a>
          <a href="" class="btn btn-lg btn-outline-danger"> Contact Us</a>
          </div>
                  
        </div>
        <div class="col-lg-6 text-center mt-5 mt-lg-0">
          <div class="lead-form rounded p-5"> 
          <form id="contact-form">
                                  <div>
                                      <h3 class="font-weight-bold-form">Schedule Free Consultation</h3>
                                  </div>
                                  <div class="row">
                                      <div class="col-12">
                                          <div class="form-group">
                                              <input type="text" class="form-control form-control-lg" name="name" placeholder="Name" required>
                                          </div>
                                          <div class="form-group">
                                            <input type="tel" class="form-control form-control-lg" name="phone" placeholder="Phone" required>
                                        </div>
                                          <div class="form-group">
                                              <input type="email" class="form-control form-control-lg" name="email" placeholder="Email" required>
                                          </div>
                                          <div class="form-group">
                                            <textarea class="form-control form-control-lg" name="message" placeholder="Type your message here" rows="3" required></textarea>
                                        </div>
                                      </div>
                                      <div class="col-12">
                                          <button class="btn btn-danger btn-lg w-100 mt-3 mt-sm-4" type="submit">Send Message <i class="lni lni-arrow-right ml-2"></i></button>
                                      </div>
                                  </div>
                              </form>
           </div>
        </div>
      </div>
    </div>
  </div> -->
  

  <main id="main">

    <!-- ==========About Us============== -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
          <div class="col-lg-6 img-bg" style="background-image: url(assets/bigshot/assets/img/payroll_section.jpg);" data-aos="zoom-in" data-aos-delay="100"></div>

          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3 style="color: #186474;">Efficient Payroll Solutions Boost Productivity</h3>
            <p>Outsource Payroll Processing with BSC for streamlined accuracy, compliance, and savings. Enhance efficiency, ensure compliance, and save resources with our professional payroll services.</p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-easel flex-shrink-0"></i>
              <div>
                <h4>Precision Pays Off:</h4>
                <p>Accurate payroll processing ensures compliance and eliminates errors.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4>Resource Savings:</h4>
                <p>Outsource to cut costs and focus on core business activities.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4>Compliance Confidence:</h4>
                <p>Stay compliant with changing regulations effortlessly.</p>
              </div>
            </div><!-- End Icon Box -->

          </div>
        </div>

      </div>
    </section><!-- End Alt Services Section -->

    <!-- ==========features============== -->

 <section id="about-loan" class="about-loan">
  <div class="container" data-aos="fade-up">

    <div class="row content">
      <div class="col-lg-6">
        <h2 style="color: #186474;">Maximize Efficiency, Minimize Hassle with our Payroll services</h2>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <ul>
          <li><i class="bi bi-check-circle-fill"></i> Accurate Payroll Processing for Business Growth</li>
          <li><i class="bi bi-check-circle-fill"></i> Streamlined Outsourcing: Boosting Efficiency, Reducing Costs</li>
          <li><i class="bi bi-check-circle-fill"></i> Comprehensive Tax Compliance, Stress-Free Financial Management</li>
          <li><i class="bi bi-check-circle-fill"></i> Secure Data Handling, Confidentiality You Can Trust</li>
          <li><i class="bi bi-check-circle-fill"></i> Tailored Solutions, Expert Support for Payroll Success</li>
        </ul>

      </div>
    </div>

  </div>
</section><!-- about loan Section -->

    

     <!-- ======= Why us Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
        <header class="section-header">
            <h3><Span>Why Choose BSC for your</Span> Outsource Payroll</h3>
          </header>


      <div class="row">
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-battery-charging"></i></div>
            <h4>Efficiency Boost</h4>
            <p>Streamline payroll processes for enhanced productivity and reduced errors.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4>Cost Savings</h4>
            <p>BSC's payroll services cut expenses, optimizing financial resources effectively.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-check-circle"></i></div>
            <h4>Compliance Assurance</h4>
            <p>Ensure regulatory adherence with BSC's expert payroll compliance management.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-shield-lock"></i></div>
            <h4>Data Security</h4>
            <p>Trust BSC for secure, confidential payroll data management solutions.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- Why Us Section -->

       

        
    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action">
      <div class="container text-center" data-aos="zoom-in">
        <h3>Optimize Payroll, Boost Business Now!</h3>
        <a class="cta-btn" data-bs-toggle="modal" data-bs-target="#ModalForm">Contact Us</a>
      </div>
    </section><!-- End Call To Action Section -->
    

    <!-- ======= Frequently Asked Questions Section ======= -->
 <section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">
      <header class="section-header">
          <h3><Span>FAQ's on</Span> Outsource Payroll</h3>
      </header>

    <div class="row justify-content-center">
      <div class="col-xl-10">
        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">What makes BSC's Outsource Payroll Processing services stand out?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                At BSC, our Outsource Payroll Processing services excel in accuracy, efficiency, and compliance. We leverage cutting-edge technology to streamline payroll management, ensuring timely and error-free processing. Our experienced team is dedicated to delivering customized solutions tailored to your company's unique needs.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">How does BSC ensure data security in Payroll Processing?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                BSC prioritizes data security in Payroll Processing. Our systems employ robust encryption protocols and industry-leading security measures to safeguard sensitive payroll information. We strictly adhere to data protection regulations, providing you with peace of mind regarding the confidentiality and integrity of your payroll data.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Can BSC accommodate the specific requirements of our industry in Payroll Processing?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Absolutely! BSC understands the diverse needs of different industries. Our Outsource Payroll Processing services are flexible and can be tailored to meet the unique payroll challenges of your industry. Whether you're in healthcare, manufacturing, or any other sector, we have the expertise to ensure compliance and efficiency.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question"> How does BSC handle payroll compliance and stay up-to-date with changing regulations?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Staying abreast of evolving regulations is integral to BSC's Payroll Processing services. Our dedicated compliance team constantly monitors changes in tax laws, labor regulations, and other relevant policies. This proactive approach ensures that your payroll is always compliant, minimizing risks and penalties associated with non-compliance.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question"> Can BSC's Outsource Payroll Processing services save our company time and resources?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Absolutely! BSC's streamlined processes and advanced technology not only enhance accuracy but also save your company valuable time and resources. Outsourcing your payroll to BSC allows your team to focus on core business activities while we handle the complexities of payroll management efficiently.
              </p>
            </div>
          </li>

        </ul>
      </div>
    </div>

  </div>
</section><!-- End Frequently Asked Questions Section -->

<div class="floating_btn">
  <a target="_blank" href="https://wa.link/bpxmiy">
    <div class="contact_icon">
      <i class="bi bi-whatsapp my-float"></i>
    </div>
  </a>
</div>
<a href="payroll_outsource.html" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  </main><!-- End #main -->

  {% endblock %}
