{% extends "templates/base.html" %}

  <!-- ======= hero Section ======= -->

  {% block content %}
  <!-- ======= Start Header ======= -->

<header id="header" class="header d-flex align-items-center">

  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <img src="assets/bigshot/assets/img/BIG SHOT CAPITAL.png" alt="logo">
    </a>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li class="dropdown"><a href="sme-ipo-Bangalore.html"><span>Business Funding</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="sme-ipo-Bangalore.html">SME IPO</a></li>
            <li><a href="vc-funding-bangalore.html">VC Equity Funding</a></li>
            <li><a href="working-capital.html">Working Capital</a></li>
            <li><a href="unsecured-corporate-funding.html">Unsecured Loan</a></li>
            <li><a href="project-loan-Bangalore.html">Project Finance</a></li>
            <li class="dropdown"><a href="private-debt-funding-bangalore.html"><span>Private Finance</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="private-debt-funding-bangalore.html">Private Finance</a></li>
                <li><a href="school-builder-hospital-funding.html">Builder, School &<br> Hospital Funding</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="homeloan.html"><span>Home Loans & LAP</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="homeloan.html">Home Loans</a></li>
                <li><a href="balance-transfer-of-home-loan.html">Home Loan Balance Transfer</a></li>
                <li><a href="loan-against-property.html">Loan Against Property</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown"><a href="cfo-services-bangalore.html"><span>Business Services</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="cfo-services-bangalore.html">Virtual CFO Services</a></li>
            <li><a href="mergers-aquisition-bangalore.html">Mergers & Acquisitions</a></li>
            <li><a href="Due_Diligence_Valuation_Of_Corporate.html">Due Diligence & Valuation Of Corporate</a></li>
            <li><a href="payroll_outsource.html">Outsource Payroll Processing</a></li>
            <li><a href="hr-services-bangalore.html">Human Resource Consulting</a></li>
          </ul>
        </li>
        
        <li class="dropdown"><a href="blogs.html"><span>Resources</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="blogs.html">Blogs</a></li>
            <li><a href="events.html">Events</a></li>
            <!-- <li><a href="media-coverage.html">Media Coverage</a></li> -->
            <!-- <li><a href="annual-return.html">Annual Returns</a></li> -->
          </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="partner-with-us.html" class="become-partner-btn">Become Our Partner</a></li>
      </ul>
    </nav><!-- navbar -->

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>
</header><!-- End Header -->

  <main id="main">
    <section class="policy">
        <h2>Big Shot Capital Privacy Policy</h2>
        <h4>Last Updated: January 30, 2024</h4>
        <p>Kindly read our Privacy Policy before accessing Big Shot Capital website or mobile application. You hereby are subjected to the terms described on this page. If you do not agree to the terms, please close your browser or website, or application in which our URL ( <a href="https://bigshotcapital.com/">bigshotcapital.com</a> ) is operated.</p>

        <p>You are recommended to check our Big Shot Capital Privacy Policy regularly to keep up to date of upgrades. Your continued use of the Website after the date any revised Privacy Policy is posted will be deemed to have been made aware of, subject to, and will be proclaimed to have acknowledged the changes in any revised Privacy Policy.</p>

        <h3>GENERAL</h3>
        <p>Thanks for choosing Big Shot Capital ("website", “our”, “we”, "us"), a trusted business funding and business services company from India. This privacy policy discloses the privacy practices regarding personal information and privacy rights. We respect and protect your privacy information collected, stored, and used during the service process in accordance with IT ACT, 2000. Please read the following carefully to understand our privacy policy in detail. If you do not agree to abide by our privacy policy statement, kindly avoid signing in or using our Website service or any demo provided by us.</p>

        <h3>PERSONAL INFORMATION COLLECTION</h3>
        <p>The following are the varieties of information we collect on the Website. <br>
          User Personal Data <br>
          We ask you for personal information when you sign up with the Big Shot Capital website or make a solution inquiry or request from them. To provide you with a better experience and improve the quality of our services, we may combine the information you submit with information from other Big Shot Capital services or from third parties. This does not happen without your permission unless it is required for the protection of the site. This information will be maintained as long as you have an active account. <br> <br> <br>
        
          Name <br> <br>
          User ID <br> <br>
          Email address <br> <br>
          Address (country and ZIP/postal code) <br> <br>
          Phone Number <br> <br>
        </p>
        <h2>WE PROMISE TO NEVER SHARE OR SELL PERSONAL DETAILS TO ANY THIRD-PARTY SERVICES.</h2>
        <p> <b>Cookies</b> <br>  
          We submit one or more cookies to your computer when you visit the Big Shot Capital site. Cookies are used to enhance the quality of our service, such as to store user preferences, enhance search results and ad placement, and monitor usage patterns such as how people search. Big Shot Capital, in its advertising services, cookies are also used to help advertisers and publishers serve and manage advertisements over the web and on Big Shot Capital infrastructure.
        </p>
        <p><b>Log Information</b><br>  
          Our servers automatically track specified information when you access the services of Big Shot Capital. These server logs can include details such as your web request, your service contact, web protocol address, browser type, browser language, the date and time of your request, and one or more cookies that may identify your user or account in a specific manner. These logs are kept for a period of 30 days and are used for anti-fraud and security purposes on the website. Those logs are deleted immediately after this period.
        </p>
        <h3><b>Traffic Information</b></h3>
        <p>Using our traffic analysis tool, Google Analytics, we record some details when you access the services of Big Shot Capital clients via browser, application, or other. This data can be stored privately but includes details such as your web request, your service contact, internet of things address, browser type, browser language, the date and time of your request, and one or more cookies that may mark your user or account in a specific way. These logs are maintained for a duration of 60 days/2 months and are used for advertising and marketing tracking purposes so that our products and services can be improved. Those logs are automatically deleted after this time.
        </p>
        <p><b>User Communication</b> <br>In order to process your inquiries, respond to your requests, and improve our services at Big Shot Capital, we may retain those communications when you send an email or other communications. When you send and receive SMS messages from or to one of our SMS-providing services, we may gather and preserve information relating to such messages, such as the telephone number, the wireless carrier associated with the telephone number, the message content, and the time and date of the transaction. We can use your email address to interact with you about our services or products but never give you emails that are not relevant to your transactions or that you have not signed into.
        </p>
        <p><b>Other Sites</b> <br>The entire Privacy Policy pertains solely to small to large enterprises falling under the services of Big Shot Capital. We do not have authority over the sites displayed as search results, websites featuring Big Shot Capital applications, products, or links within our diverse services. These external websites may place their own cookies or other files on your computer, gather data, or solicit your personal information.
        </p> <br> 
        <h3>USE OF COLLECTED INFORMATION</h3> <br>
        <p>Big Shot Capital, a leading business funding and services company, collects and uses user ("your") personal information for the following purposes:<br><br>
          We may use the information you provide us to contact you via call or email to discuss special funding deals, business support services, payment follow-ups, or alterations in the privacy policy. <br><br>
          We may use the email ID of users to update periodically regarding inquiries, service updates, and the status of business funding applications. <br><br> 
          We may use your valuable feedback to improve our funding services and customer support.<br><br>
        </p> 
        <h3>SECURITY</h3>
        <p>We have implemented appropriate security measures to protect your sensitive information. However, as technologies continue to advance, we cannot guarantee 100% security from hackers or cybercriminals attempting to steal stored data and personal information. Accessing our services with multiple members is at your own risk.
        </p>
        <h3>DO WE UPDATE PRIVACY POLICY?</h3>
        <p>Yes, we will update our privacy policy frequently. The updated version along with the revised date will be effective once accessed. Regarding privacy updates, we may inform you by posting a notice or via email notifications. We encourage you to review our Big Shot Capital, a leading business funding and business services company in India, privacy statement regularly to understand more about our privacy handling system.</p>
        <h3>ACCEPTANCE OF THE ABOVE TERMS </h3>
        <p>By using the Big Shot Capital website, you signify your acceptance of this policy. If you do not abide by the following terms, kindly avoid our service or website. If you have any queries regarding our Privacy Policy, please contact us at:</p> <br>
        <p>Phone : <b>+91 99868 92788</b> </p>
        <p>Email : <b>hello@Bigshotcapital.com</b> </p>

    </section>

<a href=""></a>
  </main><!-- End #main -->


  <a href="index.html" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  {% endblock %}
