{% extends "templates/web_base.html" %}

  <!-- ======= hero Section ======= -->
  {% block content %}

<header id="header" class="header d-flex align-items-center">

  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <img src="assets/bigshot/assets/img/BIG SHOT CAPITAL.png" alt="logo">
    </a>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li class="dropdown"><a href="sme-ipo-Bangalore.html" class="active"><span>Business Funding</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="sme-ipo-Bangalore.html">SME IPO</a></li>
            <li><a href="vc-funding-bangalore.html">VC Equity Funding</a></li>
            <li><a href="working-capital.html">Working Capital</a></li>
            <li><a href="unsecured-corporate-funding.html">Unsecured Loan</a></li>
            <li><a href="project-loan-Bangalore.html">Project Finance</a></li>
            <li class="dropdown"><a href="private-debt-funding-bangalore.html" class="active"><span>Private Finance</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="private-debt-funding-bangalore.html" class="active">Private Finance</a></li>
                <li><a href="school-builder-hospital-funding.html">Builder, School &<br> Hospital Funding</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="homeloan.html"><span>Home Loans & LAP</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="homeloan.html">Home Loans</a></li>
                <li><a href="balance-transfer-of-home-loan.html">Home Loan Balance Transfer</a></li>
                <li><a href="loan-against-property.html">Loan Against Property</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown"><a href="cfo-services-bangalore.html"><span>Business Services</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="cfo-services-bangalore.html">Virtual CFO Services</a></li>
            <li><a href="mergers-aquisition-bangalore.html">Mergers & Acquisitions</a></li>
            <li><a href="Due_Diligence_Valuation_Of_Corporate.html">Due Diligence & Valuation Of Corporate</a></li>
            <li><a href="payroll_outsource.html">Outsource Payroll Processing</a></li>
            <li><a href="hr-services-bangalore.html">Human Resource Consulting</a></li>
            <li><a href="virtual-chro.html" >Virtual CHRO</a></li>
            <li><a href="business-funding-documentation.html" >Business Funding Documentation</a></li>
            <li><a href="project-report.html">Project Report & CMA Data</a></li>
          </ul>
        </li>
        
        <li class="dropdown"><a href="blogs.html"><span>Resources</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="blogs.html">Blogs</a></li>
            <li><a href="events.html">Events</a></li>
            <!-- <li><a href="media-coverage.html">Media Coverage</a></li> -->
            <!-- <li><a href="annual-return.html">Annual Returns</a></li> -->
          </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="partner-with-us.html" class="become-partner-btn">Become Our Partner</a></li>
      </ul>
    </nav><!-- .navbar -->

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>
</header><!-- End Header -->

  <!-- ======= hero Section ======= -->
  <section id="vc-funding-service-hero" class="hero-section-services d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Your Fast Track to Financial Freedom: <span> <br>Private Financing Solutions</span></h1>
      <h3>Need quick financial help? Contact Us Now</h3>
      <a href="#" class="btn-get-started scrollto" data-bs-toggle="modal" data-bs-target="#ModalForm">Book A Free Consultation Now</a>
    </div>
  </section><!-- End Hero -->

  <!-- <div class="banner-image py-5"  data-aos="fade-up">
    <div class="container py-5">
      <div class="row py-5 align-items-center">
        <div class="col-lg-6">
          <h5 class="display-4 mb-4 font-weight-bold text-center text-lg-left">Investing in Futures: BSC Fuels Entrepreneurial Triumphs!</h5> 
            <p class="lead mb-5 text-black-50 text-center text-lg-left">Seeking investment for your venture? Unlock BSC's VC Equity Funding. Wondering where to start? Your journey to success begins here.</p> 
            <div class="d-flex justify-content-center justify-content-lg-start mb-4">
          <a href="" class="btn btn-lg btn-danger mr-2"> Get A Quote Now</a>
          <a href="" class="btn btn-lg btn-outline-danger"> Contact Us</a>
          </div>
                  
        </div>
        <div class="col-lg-6 text-center mt-5 mt-lg-0">
          <div class="lead-form rounded p-5"> 
          <form id="contact-form">
                                  <div>
                                      <h3 class="font-weight-bold-form">Book A Free Demo Now</h3>
                                  </div>
                                  <div class="row">
                                      <div class="col-12">
                                          <div class="form-group">
                                              <input type="text" class="form-control form-control-lg" name="name" placeholder="Name" required>
                                          </div>
                                          <div class="form-group">
                                            <input type="tel" class="form-control form-control-lg" name="phone" placeholder="Phone" required>
                                        </div>
                                          <div class="form-group">
                                              <input type="email" class="form-control form-control-lg" name="email" placeholder="Email" required>
                                          </div>
                                          <div class="form-group">
                                            <textarea class="form-control form-control-lg" name="message" placeholder="Type your message here" rows="3" required></textarea>
                                        </div>
                                      </div>
                                      <div class="col-12">
                                          <button class="btn btn-danger btn-lg w-100 mt-3 mt-sm-4" type="submit">Send Message <i class="lni lni-arrow-right ml-2"></i></button>
                                      </div>
                                  </div>
                              </form>
           </div>
        </div>
      </div>
    </div>
  </div> -->
  

  <main id="main">

    <!-- ==========About Us============== -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
          <div class="col-lg-6 img-bg" style="background-image: url(assets/bigshot/assets/img/private-funding-section.jpg);" data-aos="zoom-in" data-aos-delay="100"></div>

          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3 style="color: #186474;">Driving Growth Through VC Equity</h3>
            <p>VC Equity Funding fuels innovation, accelerates expansion, and attracts top talent, fostering sustainable growth for companies seeking strategic advancement in the competitive business landscape.</p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-bounding-box-circles flex-shrink-0"></i>
              <div>
                <h4>Competitive Edge</h4>
                <p>VC-backed firms excel, surpassing competitors by innovating, expanding, and adapting swiftly to market changes.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-globe-central-south-asia flex-shrink-0"></i>
              <div>
                <h4>Global Market Access</h4>
                <p>VC funding enables global expansion, tapping diverse markets, and establishing a worldwide presence.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-archive flex-shrink-0"></i>
              <div>
                <h4>Flexible Capital Structure</h4>
                <p>VC Equity adapts, providing financial flexibility for strategic pivots and dynamic market changes.</p>
              </div>
            </div><!-- End Icon Box -->

          </div>
        </div>

      </div>
    </section><!-- End Alt Services Section -->

    <!-- ==========features============== -->

 <section id="about-loan" class="about-loan">
  <div class="container" data-aos="fade-up">

    <div class="row content">
      <div class="col-lg-6">
        <h2 style="color: #186474;">Charting Success: BSC's Private Debt Partnerships Transform Futures</h2>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <ul>
          <li><i class="bi bi-check-circle-fill"></i> Customize financial solutions to propel your company's distinctive vision.</li>
          <li><i class="bi bi-check-circle-fill"></i> Elevate possibilities by accessing BSC's extensive debt structuring proficiency.</li>
          <li><i class="bi bi-check-circle-fill"></i> Thrive confidently as BSC aligns with your evolving financial aspirations.</li>
          <li><i class="bi bi-check-circle-fill"></i> Unleash liquidity potential for seizing new opportunities in the market.</li>

        </ul>

      </div>
    </div>

  </div>
</section><!-- about loan Section -->

    

     <!-- ======= Why us Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
        <header class="section-header">
            <h3><Span>Benefits Of BSC’s</Span> Private Dept Funding</h3>
          </header>


      <div class="row">
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-gear-wide"></i></div>
            <h4>Tailored Solutions</h4>
            <p>BSC crafts customized private debt funding strategies for optimal financial flexibility.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-bullseye"></i></div>
            <h4>Competitive Rates</h4>
            <p>Benefit from our competitive interest rates, maximizing your financial returns strategically.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-lightbulb"></i></div>
            <h4>Transparent Process</h4>
            <p>Experience transparency through a clear lending process and detailed financial reporting.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-lightning-charge"></i></div>
            <h4>Proactive Risk Management</h4>
            <p>Mitigate risks with our proactive approach, ensuring the security of your investments.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- Why Us Section -->

       

        
    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action">
      <div class="container text-center" data-aos="zoom-in">
        <h3>Secure your financial future – call us today!</h3>
        <a class="cta-btn" data-bs-toggle="modal" data-bs-target="#ModalForm">Call Us Now</a>
      </div>
    </section><!-- End Call To Action Section -->
    

    <!-- ======= Frequently Asked Questions Section ======= -->
 <section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">
      <header class="section-header">
          <h3><Span>FAQ's on</Span> VC Equity Funding</h3>
      </header>

    <div class="row justify-content-center">
      <div class="col-xl-10">
        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">What types of private debt funding does BSC offer?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                At BSC, we specialize in providing a diverse range of private debt funding solutions, including mezzanine financing, senior debt, and subordinated debt. Our tailored financial packages cater to the unique needs of businesses seeking capital infusion.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">How does the private debt funding process work at BSC?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Our private debt funding process is streamlined and efficient. Begin by submitting an application through our online portal. Our experienced team will then conduct a comprehensive analysis, considering factors like creditworthiness and business performance. Once approved, funds are disbursed promptly to support your company's growth initiatives.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">What distinguishes BSC's private debt funding from other financing options?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                BSC stands out for its flexible terms, competitive interest rates, and personalized approach to financing. Unlike traditional lenders, we understand the unique challenges businesses face and structure debt packages that align with their objectives, fostering long-term success.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Can BSC assist with debt restructuring for businesses facing financial challenges?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Yes, BSC offers debt restructuring services to help businesses navigate financial difficulties effectively. Our team works closely with clients to develop strategic plans, renegotiate terms, and optimize debt structures, ensuring a sustainable and resilient financial position.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">What industries does BSC cater to for private debt funding?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                BSC provides private debt funding services across a wide array of industries, including but not limited to real estate, technology, healthcare, and manufacturing. Our expertise spans diverse sectors, allowing us to meet the unique funding needs of businesses in various fields.
              </p>
            </div>
          </li>

        </ul>
      </div>
    </div>

  </div>
</section><!-- End Frequently Asked Questions Section -->

  

  </main><!-- End #main -->


<div class="floating_btn">
  <a target="_blank" href="https://wa.link/bpxmiy">
    <div class="contact_icon">
      <i class="bi bi-whatsapp my-float"></i>
    </div>
  </a>
</div>
<a href="private-debt-funding-bangalore.html" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% endblock %}
