{% extends "templates/web_base.html" %}

  <!-- ======= hero Section ======= -->
  {% block content %}

<header id="header" class="header d-flex align-items-center">

  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <img src="assets/bigshot/assets/img/BIG SHOT CAPITAL.png" alt="logo">
    </a>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li class="dropdown"><a href="sme-ipo-Bangalore.html" class="active"><span>Business Funding</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="sme-ipo-Bangalore.html">SME IPO</a></li>
            <li><a href="vc-funding-bangalore.html">VC Equity Funding</a></li>
            <li><a href="working-capital.html">Working Capital</a></li>
            <li><a href="unsecured-corporate-funding.html">Unsecured Loan</a></li>
            <li><a href="project-loan-Bangalore.html">Project Finance</a></li>
            <li class="dropdown"><a href="private-debt-funding-bangalore.html" class="active" ><span>Private Finance</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="private-debt-funding-bangalore.html">Private Finance</a></li>
                <li><a href="school-builder-hospital-funding.html"  class="active">Builder, School &<br> Hospital Funding</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="homeloan.html"><span>Home Loans & LAP</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="homeloan.html">Home Loans</a></li>
                <li><a href="balance-transfer-of-home-loan.html">Home Loan Balance Transfer</a></li>
                <li><a href="loan-against-property.html">Loan Against Property</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown"><a href="cfo-services-bangalore.html"><span>Business Services</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="cfo-services-bangalore.html">Virtual CFO Services</a></li>
            <li><a href="mergers-aquisition-bangalore.html">Mergers & Acquisitions</a></li>
            <li><a href="Due_Diligence_Valuation_Of_Corporate.html">Due Diligence & Valuation Of Corporate</a></li>
            <li><a href="payroll_outsource.html">Outsource Payroll Processing</a></li>
            <li><a href="hr-services-bangalore.html">Human Resource Consulting</a></li>
            <li><a href="virtual-chro.html" >Virtual CHRO</a></li>
            <li><a href="business-funding-documentation.html" >Business Funding Documentation</a></li>
            <li><a href="project-report.html">Project Report & CMA Data</a></li>
          </ul>
        </li>
        
        <li class="dropdown"><a href="blogs.html"><span>Resources</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="blogs.html">Blogs</a></li>
            <li><a href="events.html">Events</a></li>
            <!-- <li><a href="media-coverage.html">Media Coverage</a></li> -->
            <!-- <li><a href="annual-return.html">Annual Returns</a></li> -->
          </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="partner-with-us.html" class="become-partner-btn">Become Our Partner</a></li>
      </ul>
    </nav><!-- .navbar -->

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>
</header><!-- End Header -->

<main>
  <!-- ======= hero Section ======= -->
  <section id="builder-funding-service-hero" class="hero-section-services d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Empowering Dreams: <span> <br>Fund Your School or Hospital!</span></h1>
      <h3>Book Your Free Consultation!</h3>
      <a href="#" class="btn-get-started scrollto" data-bs-toggle="modal" data-bs-target="#ModalForm">Book A Free Consultation Now</a>
    </div>
  </section><!-- End Hero -->
  
<!-- ======= Services Section ======= -->
<section id="features" class="features section-bg">
    <div class="container" data-aos="fade-up">

      <!-- <header class="section-header">
        <h3><Span>Benefits Of BSC’s</Span> Private Dept Funding</h3>
      </header> -->

      <ul class="nav nav-tabs row  g-2 d-flex">

        <li class="nav-item col-4">
          <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
            <h4>Builder Funding</h4>
          </a>
        </li><!-- End tab nav item -->

        <li class="nav-item col-4">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
            <h4>Hospital Funding</h4>
          </a><!-- End tab nav item -->

        <li class="nav-item col-4">
          <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
            <h4>School Funding</h4>
          </a>
        </li><!-- End tab nav item -->

      </ul>

      <div class="tab-content">

        <div class="tab-pane active show" id="tab-1">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
              <h3>Builder Funding</h3>
              <p class="fst-italic">
                Builder funding by BSC accelerates construction projects, promoting economic growth, job creation, and sustainable development. Explore our tailored funding options for seamless progress.
              </p>
              <ul>
                <li><i class="bi bi-check2-all"></i> Enables construction, driving economic growth and job opportunities.</li>
                <li><i class="bi bi-check2-all"></i> Enhances urban development, creating sustainable and resilient communities.</li>
                <li><i class="bi bi-check2-all"></i>Supports affordable housing, addressing housing needs and fostering community well-being.</li>
              </ul>
              <div class="#">
                <a href="#" class="btn get-quote" data-bs-toggle="modal" data-bs-target="#ModalForm">Know More</a>
              </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
              <img src="assets/bigshot/assets/img/builder-funding.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div><!-- End tab content item -->

        <div class="tab-pane" id="tab-2">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
              <h3>Hospital Funding</h3>
              <p class="fst-italic">
                In our hospital funding services, we prioritize impactful investments, ensuring medical infrastructure sustainability, enhanced healthcare accessibility, and community well-being. Explore our strategic funding solutions today.
              </p>
              <ul>
                <li><i class="bi bi-check2-all"></i>  Enhances healthcare accessibility, ensuring quality medical services for all.</li>
                <li><i class="bi bi-check2-all"></i>  Promotes public health, reducing disease prevalence and improving overall well-being.</li>
                <li><i class="bi bi-check2-all"></i> Facilitates medical advancements, contributing to a healthier and thriving society.</li>
              </ul>
              <div class="#">
                <a href="#" class="btn get-quote" data-bs-toggle="modal" data-bs-target="#ModalForm">Know More</a>
              </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img src="assets/bigshot/assets/img/hospital-funding.jpg" alt="" class="img-fluid">
            </div>

          </div>
        </div><!-- End tab content item -->

        <div class="tab-pane" id="tab-3">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
              <h3>School Funding</h3>
              <p class="fst-italic">
                BSC's school funding services ensure educational excellence, fostering student success, community development, and future workforce readiness through strategic and impactful financial support.
              </p>
              <ul>
                <li><i class="bi bi-check2-all"></i>Invests in education, fostering knowledge, skills, and future innovation.</li>
                <li><i class="bi bi-check2-all"></i>Builds a skilled workforce, driving economic prosperity and social development.</li>
                <li><i class="bi bi-check2-all"></i>Creates equal opportunities, empowering individuals and promoting societal progress.</li>
              </ul>
              <div class="#">
                <a href="#" class="btn get-quote" data-bs-toggle="modal" data-bs-target="#ModalForm">Know More</a>
              </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
              <img src="assets/bigshot/assets/img/school-funding.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div><!-- End tab content item -->


      </div>

    </div>
  </section><!-- End Features Section -->

   <!-- ======= Why us Section ======= -->
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
      <header class="section-header">
          <h3><Span>Benefits Of BSC’s</Span> Funding</h3>
        </header>


    <div class="row">
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-gear-wide"></i></div>
          <h4>Tailored Solutions</h4>
          <p> BSC crafts personalized funding plans for builders, hospitals, and schools.</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-bullseye"></i></div>
          <h4>Proven Expertise</h4>
          <p>A track record of successful funding projects spanning diverse sectors.</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-lightbulb"></i></div>
          <h4>Streamlined Process</h4>
          <p>Efficient and transparent procedures ensure hassle-free funding experiences for clients.</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-lightning-charge"></i></div>
          <h4>Client-Centric Approach</h4>
          <p>Dedicated to client satisfaction, offering responsive support and flexible financing options.</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- Why Us Section -->
     

      
  <!-- ======= Call To Action Section ======= -->
  <section id="call-to-action">
    <div class="container text-center" data-aos="zoom-in">
      <h3>Start Your Project Journey with us!</h3>
      <a class="cta-btn" data-bs-toggle="modal" data-bs-target="#ModalForm">Book A Consultation Now</a>
    </div>
  </section><!-- End Call To Action Section -->
  

  <!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
<div class="container" data-aos="fade-up">
    <header class="section-header">
        <h3><Span>FAQ's on</Span> Builder, Hospital & School Funding</h3>
    </header>

  <div class="row justify-content-center">
    <div class="col-xl-10">
      <ul class="faq-list">

        <li>
          <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">How can BSC assist in securing funding for my construction project?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq1" class="collapse" data-bs-parent=".faq-list">
            <p>
                BSC specializes in providing tailored funding solutions for builders and construction projects. Our team collaborates closely with clients to understand project requirements, leveraging a comprehensive network of financial resources to secure competitive funding. Explore our builder funding options to kickstart your construction journey today.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">What funding options does BSC offer for hospital development and expansion?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq2" class="collapse" data-bs-parent=".faq-list">
            <p>
                BSC is committed to supporting the growth of healthcare facilities. Our hospital funding solutions encompass a range of options, including grants, loans, and strategic financial planning. Discover how BSC can partner with you to ensure the success of your hospital project.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">How quickly can BSC facilitate funding for time-sensitive builder projects?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq3" class="collapse" data-bs-parent=".faq-list">
            <p>
                Time sensitivity is crucial in the construction industry, and BSC is well-aware of that. Our streamlined processes and efficient financial network allow us to expedite the funding approval for builder projects. Contact us to discuss your timeline, and let's work together to meet your project deadlines.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">What sets BSC apart in the competitive landscape of funding solutions for hospitals and schools?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq4" class="collapse" data-bs-parent=".faq-list">
            <p>
                BSC stands out by offering comprehensive funding solutions tailored to the unique needs of hospitals and schools. Our expertise, transparent processes, and commitment to client success distinguish us in the competitive funding landscape. Explore the BSC advantage for your healthcare or educational project.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Can BSC assist in obtaining funding for school infrastructure projects?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq5" class="collapse" data-bs-parent=".faq-list">
            <p>
                Absolutely! BSC understands the importance of quality education infrastructure. Our school funding services encompass various financial avenues, from grants to specialized loans. Learn more about our commitment to educational development and how we can help fund your school infrastructure projects.
            </p>
          </div>
        </li>

      </ul>
    </div>
  </div>

</div>
</section><!-- End Frequently Asked Questions Section -->
  </main><!-- End #main -->


<div class="floating_btn">
  <a target="_blank" href="https://wa.link/bpxmiy">
    <div class="contact_icon">
      <i class="bi bi-whatsapp my-float"></i>
    </div>
  </a>
</div>
<a href="school-builder-hospital-funding.html" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% endblock %}
