{% extends "templates/web_base.html" %}

  <!-- ======= hero Section ======= -->

  {% block content %}

<header id="header" class="header d-flex align-items-center">

  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <img src="assets/bigshot/assets/img/BIG SHOT CAPITAL.png" alt="logo">
    </a>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li class="dropdown"><a href="sme-ipo-Bangalore.html"><span>Business Funding</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="sme-ipo-Bangalore.html">SME IPO</a></li>
            <li><a href="vc-funding-bangalore.html">VC Equity Funding</a></li>
            <li><a href="working-capital.html">Working Capital</a></li>
            <li><a href="unsecured-corporate-funding.html">Unsecured Loan</a></li>
            <li><a href="project-loan-Bangalore.html">Project Finance</a></li>
            <li class="dropdown"><a href="private-debt-funding-bangalore.html"><span>Private Finance</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="private-debt-funding-bangalore.html">Private Finance</a></li>
                <li><a href="school-builder-hospital-funding.html">Builder, School &<br> Hospital Funding</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="homeloan.html"><span>Home Loans & LAP</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="homeloan.html">Home Loans</a></li>
                <li><a href="balance-transfer-of-home-loan.html">Home Loan Balance Transfer</a></li>
                <li><a href="loan-against-property.html">Loan Against Property</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown"><a href="cfo-services-bangalore.html" class="active"><span>Business Services</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="cfo-services-bangalore.html">Virtual CFO Services</a></li>
            <li><a href="mergers-aquisition-bangalore.html">Mergers & Acquisitions</a></li>
            <li><a href="virtual-chro.html" class="active">Virtual CHRO</a></li>
            <li><a href="project-report.html">Project Report & CMA Data</a></li>
            <li><a href="business-funding-documentation.html">Business Funding Documentation</a></li>
            <li><a href="Due_Diligence_Valuation_Of_Corporate.html">Due Diligence & Valuation Of Corporate</a></li>
            <li><a href="payroll_outsource.html">Outsource Payroll Processing</a></li>
            <li><a href="hr-services-bangalore.html">Human Resource Consulting</a></li>
          </ul>
        </li>
        
        <li class="dropdown"><a href="blogs.html"><span>Resources</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="blogs.html">Blogs</a></li>
            <li><a href="events.html">Events</a></li>
            <!-- <li><a href="media-coverage.html">Media Coverage</a></li> -->
            <!-- <li><a href="annual-return.html">Annual Returns</a></li> -->
          </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="partner-with-us.html" class="become-partner-btn">Become Our Partner</a></li>
      </ul>
    </nav><!-- .navbar -->

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>
</header><!-- End Header -->

  <!-- ======= hero Section ======= -->
  <section id="chro-service-hero" class="hero-section-services d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Transforming HR, <span> <br>Virtual CHRO Excellence Unleashed</span></h1>
      <h3>Struggling with HR challenges? Call Us Now for Solutions</h3>
      <a href="#" class="btn-get-started scrollto" data-bs-toggle="modal" data-bs-target="#ModalForm">Book A Free Consultation Now</a>
    </div>
  </section><!-- End Hero -->
  <!-- <div class="banner-image py-5"  data-aos="fade-up">
    <div class="container py-5">
      <div class="row py-5 align-items-center">
        <div class="col-lg-6">
          <h5 class="display-4 mb-4 font-weight-bold text-center text-lg-left">HR Excellence: Bangalore's Finest Consulting</h5> 
            <p class="lead mb-5 text-black-50 text-center text-lg-left">Struggling with HR challenges in Bangalore? Our expert HR consulting services offer tailored solutions for optimal workforce management. Explore now!</p> 
            <div class="d-flex justify-content-center justify-content-lg-start mb-4">
          <a href="" class="btn btn-lg btn-danger mr-2"> Know More</a>
          <a href="" class="btn btn-lg btn-outline-danger"> Contact Us</a>
          </div>
                  
        </div>
        <div class="col-lg-6 text-center mt-5 mt-lg-0">
          <div class="lead-form rounded p-5"> 
          <form id="contact-form">
                                  <div>
                                      <h3 class="font-weight-bold-form">Schedule Free Consultation</h3>
                                  </div>
                                  <div class="row">
                                      <div class="col-12">
                                          <div class="form-group">
                                              <input type="text" class="form-control form-control-lg" name="name" placeholder="Name" required>
                                          </div>
                                          <div class="form-group">
                                            <input type="tel" class="form-control form-control-lg" name="phone" placeholder="Phone" required>
                                        </div>
                                          <div class="form-group">
                                              <input type="email" class="form-control form-control-lg" name="email" placeholder="Email" required>
                                          </div>
                                          <div class="form-group">
                                            <textarea class="form-control form-control-lg" name="message" placeholder="Type your message here" rows="3" required></textarea>
                                        </div>
                                      </div>
                                      <div class="col-12">
                                          <button class="btn btn-danger btn-lg w-100 mt-3 mt-sm-4" type="submit">Send Message <i class="lni lni-arrow-right ml-2"></i></button>
                                      </div>
                                  </div>
                              </form>
           </div>
        </div>
      </div>
    </div>
  </div> -->



  

  <main id="main">

    <!-- ==========About Us============== -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
          <div class="col-lg-6 img-bg" style="background-image: url(assets/bigshot/assets/img/CHRO_section.jpg);" data-aos="zoom-in" data-aos-delay="100"></div>

          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3 style="color: #186474;">Elevate HR with Virtual CHRO Expertise</h3>
            <p>Empower your organization with our virtual CHRO service, offering strategic HR solutions to drive growth, innovation, and employee excellence seamlessly.</p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-easel flex-shrink-0"></i>
              <div>
                <h4>Strategic Guidance:</h4>
                <p>Elevate HR with expert strategic planning.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4>Innovative Solutions:</h4>
                <p>Drive growth through cutting-edge HR innovations.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-sunrise flex-shrink-0"></i>
              <div>
                <h4>Employee Excellence:</h4>
                <p>Foster a culture of excellence and engagement.</p>
              </div>
            </div><!-- End Icon Box -->

          </div>
        </div>

      </div>
    </section><!-- End Alt Services Section -->

    <!-- ==========features============== -->

 <section id="about-loan" class="about-loan">
  <div class="container" data-aos="fade-up">

    <div class="row content">
      <div class="col-lg-6">
        <h2 style="color: #186474;">Bangalore's Premier Virtual CHRO: Unleashing HR Excellence</h2>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <ul>
          <li><i class="bi bi-check-circle-fill"></i> Strategic HR Leadership: Guiding Your Business Toward Success</li>
          <li><i class="bi bi-check-circle-fill"></i> Tailored Solutions: Customizing HR Strategies for Optimal Organizational Performance</li>
          <li><i class="bi bi-check-circle-fill"></i> Agile Problem-Solving: Adapting to Industry Dynamics with Virtual Expertise</li>
          <li><i class="bi bi-check-circle-fill"></i> Data-Driven Insights: Harnessing Analytics to Enhance HR Decision-Making</li>
        </ul>

      </div>
    </div>

  </div>
</section><!-- about loan Section -->

    

     <!-- ======= Why us Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
        <header class="section-header">
            <h3><Span>Why Choose BSC for your</Span> CHRO Consultation</h3>
          </header>


      <div class="row">
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-graph-up-arrow"></i></div>
            <h4>Strategic HR Guidance</h4>
            <p>Tailored plans for business success through expert HR strategy</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4>Cost-Effective Solutions</h4>
            <p>Maximize efficiency while minimizing HR management expenses</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-check-circle"></i></div>
            <h4>Talent Optimization</h4>
            <p>Attract, develop, and retain top talent for sustained growth</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-unlock"></i></div>
            <h4>Adaptable HR Technology</h4>
            <p>Utilize cutting-edge tools for seamless HR operations and innovation</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- Why Us Section -->

       

        
    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action">
      <div class="container text-center" data-aos="zoom-in">
        <h3>Transform Your CHRO Success Now!</h3>
        <a class="cta-btn" href="#" data-bs-toggle="modal" data-bs-target="#ModalForm">Contact Us</a>
      </div>
    </section><!-- End Call To Action Section -->
    

    <!-- ======= Frequently Asked Questions Section ======= -->
 <section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">
      <header class="section-header">
          <h3><Span>FAQ's on</Span> CHRO Consulting Services</h3>
      </header>

    <div class="row justify-content-center">
      <div class="col-xl-10">
        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">What sets BSC apart in the virtual CHRO services industry?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                BSC stands out by offering tailored virtual CHRO services that are seamlessly integrated with cutting-edge technology. Our unique approach combines human expertise with advanced tools, ensuring that your company's human resources strategy is not only effective but also future-proof.              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">How does BSC ensure the confidentiality and security of client information?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                At BSC, we prioritize the confidentiality and security of our clients' information. Our virtual CHRO services are supported by robust cybersecurity measures, including encryption protocols and secure data storage. We adhere to strict privacy standards to safeguard sensitive HR data and ensure compliance with relevant regulations.              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">What industries does BSC specialize in when providing virtual CHRO services?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                BSC caters to a diverse range of industries, including but not limited to technology, finance, healthcare, and manufacturing. Our virtual CHRO services are designed to be adaptable and scalable, allowing us to tailor our approach to meet the unique HR needs of various sectors.              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Can BSC's virtual CHRO services be customized to fit the specific requirements of our company?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Absolutely. BSC takes pride in offering customizable virtual CHRO services to meet the specific needs and goals of each client. Whether your company is a startup, a mid-sized enterprise, or a large corporation, our team works closely with you to develop a bespoke HR strategy that aligns with your organizational objectives.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">How does BSC stay updated with the latest HR trends and technologies?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                BSC is committed to staying at the forefront of HR innovation. Our team of virtual CHRO experts actively engages in continuous professional development, attends industry conferences, and monitors emerging trends and technologies. This dedication ensures that our clients benefit from the latest advancements in human resources management.              </p>
            </div>
          </li>

        </ul>
      </div>
    </div>

  </div>
</section><!-- End Frequently Asked Questions Section -->

  

  </main><!-- End #main -->

 
  <!-- ======= Footer ======= -->
  

<!-- -----------------------Popup-form-------------- -->
<div class="modal fade" id="ModalForm" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="form-area bg-primary">
              <h1 class="text-center" style="font-size: 22px;">Book A Free Consultation Now</h1>
              <form>
                  <div class="mb-3 mt-4">
                    <label class="form-label">Your Name</label>
                    <input type="text" class="form-control" required>
                  </div>
                  <div class="mb-3 mt-4">
                    <label class="form-label">Your Mobile</label>
                    <input type="tel" class="form-control" required>
                  </div>
                  <div class="mb-3 mt-4">
                      <label class="form-label">Your Email</label>
                      <input type="email" class="form-control" required>
                  </div>
                  <div class="mb-3 mt-4">
                    <label class="form-label">Your Message</label>
                    <textarea class="form-control" rows="3" required></textarea>
                  </div>
                  <button type="submit" class="btn btn-light mt-3">Submit</button>
              </form>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- ---------------------Floating btn----------- -->
<div class="floating_btn">
  <a target="_blank" href="https://wa.link/bpxmiy">
    <div class="contact_icon">
      <i class="bi bi-whatsapp my-float"></i>
    </div>
  </a>
</div>
<a href="hr-services-bangalore.html" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



  <!-- <script src="assets/bigshot/assets/js/main.js"></script> -->

</body>

</html>

{% endblock %}
