{% extends "templates/base.html" %}

  <!-- ======= hero Section ======= -->
  {% block content %}
  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/bigshot/assets/img/BIG SHOT CAPITAL.png" alt="logo">
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html"class="active">Home</a></li>
          <li><a href="about.html" >About</a></li>
          <li class="dropdown"><a href="sme-ipo-Bangalore.html"><span>Business Funding</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="sme-ipo-Bangalore.html">SME IPO</a></li>
              <li><a href="vc-funding-bangalore.html">VC Equity Funding</a></li>
              <li><a href="working-capital.html">Working Capital</a></li>
              <li><a href="unsecured-corporate-funding.html">Unsecured Loan</a></li>
              <li><a href="project-loan-Bangalore.html">Project Finance</a></li>
              <li class="dropdown"><a href="private-debt-funding-bangalore.html"><span>Private Finance</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="private-debt-funding-bangalore.html">Private Finance</a></li>
                  <li><a href="school-builder-hospital-funding.html">Builder, School &<br> Hospital Funding</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="homeloan.html"><span>Home Loans & LAP</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="homeloan.html">Home Loans</a></li>
                  <li><a href="balance-transfer-of-home-loan.html">Home Loan Balance Transfer</a></li>
                  <li><a href="loan-against-property.html">Loan Against Property</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="dropdown"><a href="cfo-services-bangalore.html"><span>Business Services</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="cfo-services-bangalore.html">Virtual CFO Services</a></li>
              <li><a href="mergers-aquisition-bangalore.html">Mergers & Acquisitions</a></li>
              <li><a href="Due_Diligence_Valuation_Of_Corporate.html">Due Diligence & Valuation Of Corporate</a></li>
              <li><a href="payroll_outsource.html">Outsource Payroll Processing</a></li>
              <li><a href="hr-services-bangalore.html">Human Resource Consulting</a></li>
            </ul>
          </li>
          
          <li class="dropdown"><a href="blogs.html"><span>Resources</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="blogs.html">Blogs</a></li>
              <li><a href="events.html">Events</a></li>
              <!-- <li><a href="media-coverage.html">Media Coverage</a></li> -->
              <!-- <li><a href="annual-return.html">Annual Returns</a></li> -->
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="partner-with-us.html" class="become-partner-btn">Become Our Partner</a></li>
        </ul>
      </nav><!-- .navbar -->
  
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  
    </div>
  </header><!-- End Header -->
  
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url(assets/bigshot/assets/img/hero-carousel/s1.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Empower SMEs Through IPOs!</h2>
                <p class="animate__animated animate__fadeInUp">Supercharge your business growth with our specialized SME IPO services. Unlock success with tailored solutions designed to elevate your company. Explore our expert services now!</p>
                <div class="button-container">
                  <a  class="btn-get-started scrollto animate__animated animate__fadeInUp" data-bs-toggle="modal" data-bs-target="#ModalForm">Book a Free Consultation</a>
                  <a href="tel:+91 99868 92788" class="btn-get-started scrollto animate__animated animate__fadeInUp">
                    <i class="bi bi-telephone-fill"></i> Call Us Now
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url(assets/bigshot/assets/img/hero-carousel/s2.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Empowering Ventures with Strategic Capital!</h2>
                <p class="animate__animated animate__fadeInUp">Maximize business success with our customized equity solutions. Unlock growth opportunities and elevate your potential with strategic financial planning. Tailored for sustainable growth and lasting success.
                </p>
                <div class="button-container">
                  <a  class="btn-get-started scrollto animate__animated animate__fadeInUp" data-bs-toggle="modal" data-bs-target="#ModalForm">Book a Free Consultation</a>
                  <a href="tel:+91 99868 92788" class="btn-get-started scrollto animate__animated animate__fadeInUp">
                    <i class="bi bi-telephone-fill"></i> Call Us Now
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url(assets/bigshot/assets/img/hero-carousel/s3.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Elevate Your Business Cash Flow!</h2>
                <p class="animate__animated animate__fadeInUp">Enhance business liquidity with our customized working capital solutions, driving growth and profitability. Optimize financial success with our tailored strategies. Secure your future today!
                </p>
                <div class="button-container">
                  <a  class="btn-get-started scrollto animate__animated animate__fadeInUp" data-bs-toggle="modal" data-bs-target="#ModalForm">Book a Free Consultation</a>
                  <a href="tel:+91 99868 92788" class="btn-get-started scrollto animate__animated animate__fadeInUp">
                    <i class="bi bi-telephone-fill"></i> Call Us Now
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url(assets/bigshot/assets/img/hero-carousel/s4.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Unlock Your Financial Potential Now!</h2>
                <p class="animate__animated animate__fadeInUp">Unlock financial freedom with our quick approval process for unsecured loans. Enjoy competitive rates and apply now for a seamless lending experience. Your journey to financial independence begins here!
                </p>
                <div class="button-container">
                  <a  class="btn-get-started scrollto animate__animated animate__fadeInUp" data-bs-toggle="modal" data-bs-target="#ModalForm">Book a Free Consultation</a>
                  <a href="tel:+91 99868 92788" class="btn-get-started scrollto animate__animated animate__fadeInUp">
                    <i class="bi bi-telephone-fill"></i> Call Us Now
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url(assets/bigshot/assets/img/hero-carousel/s5.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Empowering Projects, Fueling Growth</h2>
                <p class="animate__animated animate__fadeInUp">Unlock growth potential with our customized project finance solutions. Optimize ventures for maximum returns. Explore empowering services for tailored financial success today!
                </p>
                <div class="button-container">
                  <a  class="btn-get-started scrollto animate__animated animate__fadeInUp" data-bs-toggle="modal" data-bs-target="#ModalForm">Book a Free Consultation</a>
                  <a href="tel:+91 99868 92788" class="btn-get-started scrollto animate__animated animate__fadeInUp">
                    <i class="bi bi-telephone-fill"></i> Call Us Now
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url(assets/bigshot/assets/img/hero-carousel/s6.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Empowering Financial Futures Together</h2>
                <p class="animate__animated animate__fadeInUp">Optimize wealth with personalized private finance solutions for a secure and prosperous financial future. Expert advice.
                </p>
                <div class="button-container">
                  <a  class="btn-get-started scrollto animate__animated animate__fadeInUp" data-bs-toggle="modal" data-bs-target="#ModalForm">Book a Free Consultation</a>
                  <a href="tel:+91 99868 92788" class="btn-get-started scrollto animate__animated animate__fadeInUp">
                    <i class="bi bi-telephone-fill"></i> Call Us Now
                  </a>
                </div>
              </div>
            </div>
          </div>


          <div class="carousel-item" style="background-image: url(assets/bigshot/assets/img/hero-carousel/3.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Mastering Mergers, Simplified!</h2>
                <p class="animate__animated animate__fadeInUp">We bring companies together, helping them grow stronger. Our experts guide smooth mergers and acquisitions, making business transitions simple and successful for everyone involved.</p>
                <div class="button-container">
                  <a class="btn-get-started scrollto animate__animated animate__fadeInUp" data-bs-toggle="modal" data-bs-target="#ModalForm">Book a Free Consultation</a>
                  <a href="tel:+91 99868 92788" class="btn-get-started scrollto animate__animated animate__fadeInUp" rel="canonical">
                    <i class="bi bi-telephone-fill"></i> Call Us Now
                  </a>
                </div>              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url(assets/bigshot/assets/img/hero-carousel/4.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Grow Your Business Today!</h2>
                <p class="animate__animated animate__fadeInUp">Need a boost for your business? Discover our hassle-free business loans! Unlock growth opportunities with quick approvals. Have questions? We've got answers. Secure your success with our flexible financing solutions.</p>
                <div class="button-container">
                  <a class="btn-get-started scrollto animate__animated animate__fadeInUp" data-bs-toggle="modal" data-bs-target="#ModalForm">Book a Free Consultation</a>
                  <a href="tel:+91 99868 92788" class="btn-get-started scrollto animate__animated animate__fadeInUp" rel="canonical">
                    <i class="bi bi-telephone-fill"></i> Call Us Now
                  </a>
                </div> </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url(assets/bigshot/assets/img/hero-carousel/2.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Optimize with HR Excellence!</h2>
                <p class="animate__animated animate__fadeInUp">Elevate your workforce with top-notch HR services. Unlock potential and boost productivity. Expert consulting for sustainable growth. HR excellence at its best.</p>
                <div class="button-container">
                  <a class="btn-get-started scrollto animate__animated animate__fadeInUp" data-bs-toggle="modal" data-bs-target="#ModalForm">Book a Free Consultation</a>
                  <a href="tel:+91 99868 92788" class="btn-get-started scrollto animate__animated animate__fadeInUp">
                    <i class="bi bi-telephone-fill"></i> Call Us Now
                  </a>
                </div>
              </div>
            </div>
          </div>


        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ==========About Us============== -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
          <div class="col-lg-6 img-bg" style="background-image: url(assets/bigshot/assets/img/about-section.jpg);" data-aos="zoom-in" data-aos-delay="100"></div>

          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3 style="color: #186474;">Empowering Dreams, Financing Futures, Excellence</h3>
            <p>BSC Big Shot Capital, your premier destination for home, mortgage, and business loans. Elevate your financial journey with expert solutions, personalized service, and unparalleled excellence.</p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-easel flex-shrink-0"></i>
              <div>
                <h4>Tailored Solutions:</h4>
                <p>Crafting personalized financial strategies for your unique goals and aspirations.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4>Effortless Transactions</h4>
                <p>Seamless processes ensuring smooth and hassle-free loan experiences for our clients.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link" rel="canonical">Expert Guidance</a></h4>
                <p>Trusted advisors providing industry-leading expertise for informed and confident financial decisions.</p>
              </div>
            </div><!-- End Icon Box -->

          </div>
        </div>

      </div>
    </section><!-- End Alt Services Section -->

    <!-- ======= Our Services Section ======= -->
    <section id="services" class="services sections-bg">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3> Business Funding <Span>Services</Span></h3>
          <p>BSC: Empowering Businesses with Tailored Funding Solutions for Growth and Success.</p>
        </header>


        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-graph-up-arrow"></i>
              </div>
              <h3>SME IPO</h3>
              <p>BSC excels in delivering comprehensive SME IPO services, ensuring seamless processes for businesses to go public, unlocking growth opportunities through strategic financial solutions.</p>
              <a href="sme-ipo-Bangalore.html" class="readmore stretched-link">Read more <i class="bi bi-arrow-right" rel="canonical"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-currency-rupee"></i>
              </div>
              <h3>VC Equity Funding</h3>
              <p>BSC offers cutting-edge VC equity funding services, empowering visionary businesses to thrive. Accelerate your growth with our strategic investments and expert support.</p>
              <a href="vc-funding-bangalore.html" class="readmore stretched-link">Read more <i class="bi bi-arrow-right" rel="canonical"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-bank"></i>
              </div>
              <h3>Working Capital</h3>
              <p>BSC, your trusted partner in working capital solutions, offers tailored services to optimize liquidity, fuel growth, and enhance financial agility for your business success.</p>
              <a href="working-capital.html" class="readmore stretched-link">Read more <i class="bi bi-arrow-right" rel="canonical"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-cash-stack"></i>
              </div>
              <h3>Unsecured Loan</h3>
              <p>BSC offers seamless unsecured loan services up to 200 cr, providing financial flexibility and support for diverse needs. Empowering dreams, fostering growth, and ensuring financial success.</p>
              <a href="unsecured-corporate-funding.html" class="readmore stretched-link">Read more <i class="bi bi-arrow-right" rel="canonical"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-briefcase"></i>
              </div>
              <h3>Project Finance</h3>
              <p>BSC specializes in Project Finance up to 50 cr, offering tailored funding solutions for diverse ventures, ensuring financial success and fostering sustainable growth.</p>
              <a href="project-loan-Bangalore.html" class="readmore stretched-link">Read more <i class="bi bi-arrow-right" rel="canonical"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-cash"></i>
              </div>
              <h3>Private Finance</h3>
              <p>BSC offers elite private finance services, ensuring tailored solutions for individual financial needs. Trust us for personalized, secure, and strategic wealth management expertise.</p>
              <a href="private-debt-funding-bangalore.html" class="readmore stretched-link">Read more <i class="bi bi-arrow-right" rel="canonical"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-building"></i>
              </div>
              <h3>Builder, School and Hospital Funding</h3>
              <p>BSC: Your trusted partner for Builder, School, and Hospital Funding services, ensuring financial solutions for growth and community development.</p>
              <a href="school-builder-hospital-funding.html" class="readmore stretched-link">Read more <i class="bi bi-arrow-right" rel="canonical"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-house"></i>
              </div>
              <h3>Home Loan</h3>
              <p>BSC, your trusted home loan partner, delivers tailored solutions for your dream home. Simplifying the process with competitive rates, we make homeownership a reality.</p>
              <a href="homeloan.html" class="readmore stretched-link">Read more <i class="bi bi-arrow-right" rel="canonical"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-house-gear"></i>
              </div>
              <h3>Loan Against Property</h3>
              <p>BSC, your trusted partner for Loan Against Property services. Unlock the value of your property with our flexible and competitive loan solutions. Empowering your financial aspirations.</p>
              <a href="loan-against-property.html" class="readmore stretched-link">Read more <i class="bi bi-arrow-right" rel="canonical"></i></a>
            </div>
          </div><!-- End Service Item -->

         

        </div>

      </div>
    </section><!-- End Our Services Section -->

    
    <div class="floating_btn" data-aos="fade-up">
      <a target="_blank" href="https://wa.link/bpxmiy">
        <div class="contact_icon">
          <i class="bi bi-whatsapp my-float"></i>
        </div>
      </a>
    </div>

  

  </main>

  <div class="modal fade" id="ModalForm" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="form-area bg-primary">
                <h1 class="text-center" style="font-size: 22px;">Book A Free Consultation Now</h1>
                <form>
                    <div class="mb-3 mt-4">
                      <label class="form-label">Your Name</label>
                      <input type="text" class="form-control" required>
                    </div>
                    <div class="mb-3 mt-4">
                      <label class="form-label">Your Mobile</label>
                      <input type="tel" class="form-control" required>
                    </div>
                    <div class="mb-3 mt-4">
                        <label class="form-label">Your Email</label>
                        <input type="email" class="form-control" required>
                    </div>
                    <div class="mb-3 mt-4">
                      <label class="form-label">Your Message</label>
                      <textarea class="form-control" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-light mt-3">Submit</button>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
  
    <a href="index.html" class="back-to-top d-flex align-items-center justify-content-center" rel="canonical"><i class="bi bi-arrow-up-short"></i></a>
  
  

  
    
  {% endblock %}
  <!-- End #main -->

 
